{% extends "base.twig" %}

{% block content %}
	<form class="password-form" action="/wp-login.php?action=postpass" method="post">
		<label for="pwbox-{{post.ID}}">Password:</label>
		<input class="password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" size="20" maxlength="20" />
		<input class="password-btn" type="submit" name="Submit" value="Submit" />
	</form>
{% endblock %}
