{% extends "tease.twig" %}
{% block content %}
	<h2 class="h2"><a href="{{post.permalink}}">{{post.title}}</a></h2>
		<p>{{post.get_preview(25)}}</p>

		{% if post.get_thumbnail %}
			<img src="{{post.get_thumbnail.get_url}}" />
		{% endif %}
{% endblock %}