# Composer
/vendor
/composer.lock

# Node
/node_modules

# IDE and local environment
.idea
.vscode
*.swp

# Application
build
/cache
twig-cache/*

# Tests
/wp-content
/tmp
/.phpunit.cache
/.phpunit.result.cache
