/.coveralls.yml export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.scrutinizer.yml export-ignore
/bin export-ignore
/docs export-ignore
/phpcs.xml export-ignore
/phpunit.xml export-ignore
/phpunit-nocover.xml export-ignore
/tests export-ignore
