/.git-blame-ignore-revs export-ignore
/.gitattributes export-ignore
/.github export-ignore
/bin export-ignore
/docs export-ignore
/tests export-ignore
/.coveralls.yml export-ignore
/.editorconfig export-ignore
/.gitignore export-ignore
/.scrutinizer.yml export-ignore
/CONTRIBUTING.md export-ignore
/README.md export-ignore
/SECURITY.md export-ignore
/ecs.php export-ignore
/grumphp.yml export-ignore
/rector.php export-ignore
/phpcs.xml export-ignore
/phpstan.neon export-ignore
/phpunit-nocover.xml export-ignore
/phpunit.xml  export-ignore
/.release-please-manifest.json export-ignore
/release-please-config.json export-ignore
