language: php

php:
    - 5.3
    - 5.4
    - 5.5

env:
    - WP_VERSION=latest WP_MULTISITE=0
    - WP_VERSION=latest WP_MULTISITE=1
    - WP_VERSION=3.9 WP_MULTISITE=0
    - WP_VERSION=3.9 WP_MULTISITE=1
    - WP_VERSION=3.8.3 WP_MULTISITE=0
    - WP_VERSION=3.8.3 WP_MULTISITE=1
    - WP_VERSION=3.7.3 WP_MULTISITE=0
    - WP_VERSION=3.7.3 WP_MULTISITE=1

matrix:
    exclude:
        - php: 5.5
          env: WP_VERSION=3.7.3 WP_MULTISITE=1
        - php: 5.5
          env: WP_VERSION=3.7.3 WP_MULTISITE=0

before_script:
    - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
    - composer install --dev

script:
    - mkdir -p build/logs
    - phpunit --coverage-clover build/logs/clover.xml

after_script:
    - php vendor/bin/coveralls -v

after_success:
    - coveralls
