<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<title>Timber: WordPress + Twig</title>
	<meta name="description" content="Build themes faster and easier using this WordPress Library from Upstatement featuring the Twig Template Language and Express-style routing ">
	<meta name="author" content="Jared Novack">
	<link rel="apple-touch-icon" href="_img/apple-touch-icon.png"/>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Coustard:900' rel='stylesheet' type='text/css'>
	<!-- Icons -->
	<link rel="shortcut icon" href="favicon.ico">

	<link rel="stylesheet" href="_css/highlight-styles/tomorrow-night-eighties.css">
	<script src="_js/libs/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<meta property="og:title" content="Timber: Use Twig Template Language in WordPress" />
	<meta property="og:description" content="Write WordPress themes using simple, beautiful markup and code using this Plugin from Upstatement" />
	<meta property="og:image" content="http://jarednova.github.io/timber/_img/apple-touch-icon.png" />
	<!-- Stylesheets -->
	<link rel="stylesheet" href="_css/ss-social.css">
	<link rel="stylesheet" href="_css/screen.css">

	<!-- Scripts -->
	<!--[if lte IE 8 ]>
	<script type="text/javascript" src="_js/libs/respond.js"></script>
	<![endif]-->
	<script type="text/javascript" src="_js/libs/modernizr-2.6.1.min.js"></script>

	<!-- twitter init -->
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="http://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</head>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Page Begins				-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1&appId=218779621487337";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<nav class="nav-stripe">
		<nav class="nav-social">
			<div class="social-item facebook">
				<div class="fb-like" data-href="http://jarednova.github.io/timber/" data-width="100" data-layout="button_count" data-show-faces="false" data-send="false"></div>
			</div>
			<div class="social-item twitter">
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="Timber: because WordPress is awesome, but the_loop isn't." data-via="upstatement">Tweet</a>
			</div>
			<div class="social-item github">
				<span class="gh-button">
					<span class="github-btn github-watchers" id="github-btn">
						<a class="gh-btn" id="gh-btn" href="https://github.com/jarednova/timber/" target="_blank">
							<span class="gh-ico"></span>
							<span class="gh-text" id="gh-text">GitHub</span>
						</a>
						<a class="gh-count" id="gh-count" href="https://github.com/jarednova/timber/" target="_blank" style="display: block;">350</a>
					</span>
				</span>
			</div>
		</nav>

		<nav class="nav-main">
			<ul>
				<li>
					<a class="main-nav-link" href="http://wordpress.org/plugins/timber-library/">Download</a>
				</li>
				<li>
					<a class="main-nav-link" href="https://github.com/jarednova/timber/wiki"><i class="mobile">Docs</i><i class="desktop">Documentation</i></a>
				</li>
				<li>
					<a class="main-nav-link" href="https://github.com/jarednova/timber/wiki/Video-Tutorials">Screencasts</a>
				</li>
			</ul>
		</nav>

		<nav class="nav-placeholder">

		</nav>
	</nav>

	<header class="header">
		<div class="logo-container">
			<img class="logo mobile" src="_img/wood-banner-mobile.png" alt="Timber Logo for Mobile" />
			<img class="logo desktop" src="_img/wood-banner.png" alt="Timber Logo" />
			<a href="http://github.com/jarednova/timber/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="_img/forkme.png" alt="Fork me on GitHub"></a>
		</div>

		<h2 class="tagline">
			Write WordPress themes with beautiful, simple markup + code
		</h2>
	</header>

	<div class="promo-stripe">
		<ul class="content-wrapper features">
			<li class="feature">
				<h3 class="headline-s">Less Mess</h3>
				<p class="txt-s">
					Use the <a href="#twig">Twig Template Language</a> to separate your HTML from PHP. This makes it easier to design with super-clean HTML-like syntax.
				</p>
				<div class="feature-icon-mod">
					<img src="_img/_icons/saw.png" class="feature-icon-img" alt="Saw" />
				</div>
			</li>
			<li class="feature">
				<h3 class="headline-s">Less Stress</h3>
				<p class="txt-s">
					Cut down on debugging time with clear <a href="#object-oriented">object oriented methods</a> for the WordPress tools you use most.
				</p>
				<div class="feature-icon-mod">
					<img src="_img/_icons/axe.png" class="feature-icon-img" alt="Axe" />
				</div>
			</li>
			<li class="feature">
				<h3 class="headline-s">Build Bigger</h3>
				<p class="txt-s">
					Create more sites, share more code. Use features like <a href="#routing">Express-Style Routing</a> to make the WordPress site you’ve dreamed of.
				</p>
				<div class="feature-icon-mod">
					<img src="_img/_icons/chainsaw.png" class="feature-icon-img" alt="Chainsaw" />
				</div>
			</li>
		</ul>
	</div>


	<div class="container">
		<div id="main" role="main">

		<h2 class="section-h1">
			Because WordPress is awesome,<br>but the loop isn't.
		</h2>
			<section class="section-mod" id="twig">
				<h3 class="section-head">
					What does it look like?
				</h3>
				<p class="txt">
					With Timber you manage your theme in PHP and <a href="http://twig.sensiolabs.org/" target="_blank">Twig</a> (HTML) files. This separates the logic (getting stuff from WordPress) from presentation (adding tags, classes, etc.) &mdash; just like Rails, Django, Node and other platforms.
				</p>

				<div class="code-examples code-side-by-side">
					<div class="code-holder ui-block-1">
						<pre>
							<code class="php">
							$context = Timber::get_context();
							$context['foo'] = 'Bar!';
							$context['post'] = new TimberPost();
							Timber::render('single.twig', $context);
							</code>
						</pre>
						<div class="code-tag bottom">
							<span class="muted">single</span>.php
						</div>
					</div>
					<div class="code-holder ui-block-2">
						<pre>
							<code class="twig">
								{% extends "base.twig" %}
								{% block content %}
								&lt;h1 class="big-title"&gt;{{foo}}&lt;/h1&gt;
								&lt;h2&gt;{{post.title}}&lt;/h2&gt;<br/>					&lt;img src=&quot;{{post.thumbnail.src}}&quot; /&gt;<br/>					&lt;div class=&quot;body&quot;&gt;<br/>						   &nbsp;&nbsp;&nbsp;&nbsp; {{post.content}}<br/>					&lt;/div&gt;
								{% endblock %}
							</code>
						</pre>
						<div class="code-tag bottom">
							<span class="muted">single</span>.twig
						</div>
					</div>
				</div>
			
				<p class="txt">
					<a href="http://sensiolabs.com/">SensioLab's</a> <a href="http://twig.sensiolabs.org/">Twig Template Engine</a> gives you a simple interface to WordPress's intense power. 
				</p>

				<h3 class="section-head">
					What does it look like? (Part 2)
				</h3>
				<p class="txt">
					Timber doesn’t change the appearance of your theme. You control it by creating classes and assigning styles. It’s like buying a chainsaw — it doesn’t make your trees look different ‘till you start using it.
				</p>
			</section>

			<section class="section-mod">
				<ul class="features">
					<li class="feature">
						<h3 class="headline-s">Good for front-end devs/designers</h3>
						<p class="txt-s">
						Twig's beautiful syntax makes it easy to build your HTML and CSS without limit. It's easy to swap in new HTML for different sites or themes. That's less copy-and-pasting-and-rewriting and more extensibility.
						</p>
					</li>
					<li class="feature">
						<h3 class="headline-s">Good for teams & sharing</h3>
						<p class="txt-s">
						Timber is built with teams of designers and developers in-mind. Not everyone knows the ins and outs of the_loop(), WordPress, and PHP. With Timber, your best WordPress dev can focus on the PHP, and your designers can work in much cleaner HTML markup.
						</p>
					</li>
					<li class="feature">
						<h3 class="headline-s">Good for WordPress!</h3>
						<p class="txt-s">
						WP sometimes gets a bad wrap because it's so easy to get started and make something (this is a good thing!). What if we could keep this shallow learning curve, but give other users a more solid platform to build on? 						Your new super-clean WordPress code will help you (and your clients) build-on the site for years to come.
						</p>
					</li>
				</ul>
			</section>

			<section class="section-mod tech-features">
				<h2 class="section-h1">Technical highlights</h2>
				<article class="feature-info" id="object-oriented">
					<h4 class="section-h">Object Oriented Posts, Terms, Users and More</h4>
					<p class="section-txt">Speak to the common WordPress objects in a way that makes sense. Have you ever tried to get the thumbnail of a post? Don't lie to me, of course you have! It probably looked something like this:</p>
					<div class="code-mod">
						<div class="code-tag top">
							The old way
						</div>
						<pre><code class="php">
							$thumb_id = get_post_thumbnail_id($post->ID);
							$url = wp_get_attachment_url($thumb_id);
							&lt;img src="&lt;?php echo $url; ?&gt;" alt="Thumbnail for &lt;?php echo $post->post_title; ?&gt;" /&gt;
						</code></pre>
					</div>
					<p class="section-txt">
						Yuk! Maybe you can remember all those functions, but I sure can't. If you're a pro WordPress dev you probably have a mess of shortcut functions to help you with a common task. But here's the rub YOUR shortcuts  are going different than everyone else's.
					</p>
					<div class="code-mod">
						<div class="code-tag top">
							but with Timber
						</div>
						<pre><code class="twig">
							{# single.twig #}
							&lt;img src="{{post.thumbnail.src}}" alt="Thumbnail for {{post.title}}" /&gt;
						</code></pre>
					</div>
					<p class="section-txt">You can find the full <a href="https://github.com/jarednova/timber/wiki#object-documentation">object reference here</a>.</p>
				</article>
				<article class="feature-info" id="routing">
					<h4 class="section-h">Express/Node-style routing</h4>
					<p class="section-txt">When I first used routes in Node.js I fell in love. But when I tried to do the same, WordPress broke my heart.</p>
					<div class="code-mod">
						<div class="code-tag top">
							The old way
						</div>
						<pre><code class="php">
							add_rewrite_rule('jobs/page/([0-9]+)?$', 'index.php?pagename=jobs&amp;paged=$matches[1]', 'top' ); 
						</code></pre>
					</div>

					<p class="section-txt">I'm sure if you're a regex pro, this makes total sense. But most of us aren't regex pros. There's got to be a better way!</p>
					<div class="code-mod">
						<div class="code-tag top">
							with Timber
						</div>
						<pre><code class="php">
							Timber::add_route('jobs/list', function($params){
									$query = 'posts_per_page=5&amp;post_type=jobs';
									query_posts($query);
									Timber::load_template('archive.php');
							});

							Timber::add_route('jobs/list/page/:pg', function($params){
									$query = 'posts_per_page=5&amp;post_type=jobs&amp;paged='.$params['pg'];
									query_posts($query);
									Timber::load_template('archive.php');
							});
						</code></pre>
					</div>
					<p class="section-txt">A few extra lines? Guilty! But clear as hell? You betcha. <a href="https://github.com/jarednova/timber/wiki/routes">Read more about Custom Routes</a></p>

				</article>
				<article class="feature-info">
					<h4 class="section-h">It's a library, not a Framework</h4>
					<p class="section-txt">The tools I've come to rely on are the tools that evolve into your workflow. I didn't know I wanted to use jQuery or SASS until I started using them. Bit-by-bit they replaced the 'old' ways of doing things until I couldn't imagine life without them. Timber lets you start with just a bit. Say you want to just include an HTML snippet with a variable from your database:</p>
					<div class="code-mod">
						<div class="code-tag top">
							<span class="muted">home</span>.php
						</div>
						<pre><code class="php">
							$data['welcome_message'] = get_option('welcome_message');
							Timber::render('welcome.twig', $data);
						</code></pre>
					</div>

					<div class="code-mod">
						<div class="code-tag top">
							<span class="muted">Inside your</span> twig <span class="muted">file</span>
						</div>
						<pre><code class="twig">
							{# welcome.twig #}
							&lt;p class="intro"&gt;{{welcome_message}}&lt;/p&gt;
						</code></pre>
					</div>
					<p class="section-txt">Check out the <a href="https://github.com/jarednova/timber/wiki/Video-Tutorials">Screencasts</a> for a walk through of how to start integrating Timber, today!</p>
				</article>
				<div class="endtag-mod">
					<h2 class="endtag">
						Timber is a free open-source project for everyone who uses WordPress. The best payment is to <a href="https://twitter.com/share?url=http://jarednova.github.io/timber/&amp;via=TimberWP&amp;text=Timber:%20use%20Twig%20templates%20in%20your%20WP%20themes" data-text="Timber: because WordPress is awesome, but the_loop isn't." target="_blank">Tweet</a> and <a href="http://github.com/jarednova/timber" target="_blank">star the project on GitHub</a> so others can find it and contribute.
					</h2>
				</div>

				<article class="feature-info">
					<h2 class="section-h1">Showcase</h2>
					<ul class="showcase-mod">

						<li class="showcase-item media-block">
							<a class="showcase-img-mod" href="http://nationswell.com" target="_blank">
								<img src="_img/showcase/nation-swell.jpg" alt="NationSwell" />
							</a>
							<h5 class="head-label"><a href="http://nationswell.com" target="_blank">NationSwell.com</a></h5>
						</li>

						<li class="showcase-item media-block">
							<a class="showcase-img-mod" href="http://ronburgundybook.com" target="_blank">
								<img src="_img/showcase/ron.jpg" alt="Mary Ellen Strom" />
							</a>
							<h5 class="head-label"><a href="http://ronburgundybook.com" target="_blank">Ron Burgandy</a></h5>
						</li>

						<li class="showcase-item media-block">
							<a class="showcase-img-mod" href="http://www.abcnova.nl/" target="_blank">
								<img src="_img/showcase/abc-nova.jpg" alt="Mary Ellen Strom" />
							</a>
							<h5 class="head-label"><a href="http://www.abcnova.nl/" target="_blank">ABC Nova</a></h5>
						</li>

						<li class="showcase-item media-block">
							<a class="showcase-img-mod" href="http://glatcher.com" target="_blank">
								<img src="_img/showcase/glatcher.jpg" alt="Glatcher" />
							</a>
							<h5 class="head-label"><a href="http://glatcher.com" target="_blank">Glatcher</a></h5>
						</li>

						<li class="showcase-item media-block">
							<a class="showcase-img-mod" href="http://bikesfightcancer.org/" target="_blank">
								<img src="_img/showcase/bikes.jpg" alt="Bikes Fight Cancer" />
							</a>
							<h5 class="head-label"><a href="http://bikesfightcancer.org" target="_blank">Bikes Fight Cancer</a></h5>
						</li>

						<li class="showcase-item media-block">
							<a class="showcase-img-mod" href="http://ddddd.nu" target="_blank">
								<img src="_img/showcase/dance.jpg" alt="ddddd.nu" />
							</a>
							<h5 class="head-label"><a href="http://ddddd.nu" target="_blank">ddddd.nu</a></h5>
						</li>

						<li class="showcase-item media-block">
							<a class="showcase-img-mod" href="http://www.walterwalkerauthor.com/" target="_blank">
								<img src="_img/showcase/walter.jpg" alt="Walter Walker" />
							</a>
							<h5 class="head-label"><a href="http://walterwalkerauthor.com" target="_blank">Walter Walker</a></h5>
						</li>

						<li class="showcase-item media-block">
							<a class="showcase-img-mod" href="http://rgi-informatics.com/" target="_blank">
								<img src="_img/showcase/rgi.jpg" alt="RGI" />
							</a>
							<h5 class="head-label"><a href="http://rgi-informatics.com" target="_blank">RGI</a></h5>
						</li>

						<li class="showcase-item media-block">
							<a class="showcase-img-mod" href="http://businesstoday.org/" target="_blank">
								<img src="_img/showcase/biztoday.jpg" alt="BusinessToday" />
							</a>
							<h5 class="head-label"><a href="http://businesstoday.org" target="_blank">BusinessToday</a></h5>
						</li>

						<li class="showcase-item media-block">
							<a class="showcase-img-mod" href="http://upstatement.com/" target="_blank">
								<img src="_img/showcase/upstatement.jpg" alt="Upstatement.com" />
							</a>
							<h5 class="head-label"><a href="http://upstatement.com" target="_blank">Upstatement</a></h5>
						</li>

						<li class="showcase-item media-block">
							<a class="showcase-img-mod" href="http://denizenmagazine.com" target="_blank">
								<img src="_img/showcase/denizen.jpg" alt="Denizen Magazine"/>
							</a>
							<h5 class="head-label"><a href="http://denizenmagazine.com" target="_blank">Denizen Magazine</a></h5>
						</li>

						<li class="showcase-item media-block">
							<a class="showcase-img-mod" href="http://oribrafman.com/" target="_blank">
								<img src="_img/showcase/ori.jpg" alt="Ori Brafman" />
							</a>
							<h5 class="head-label"><a href="http://oribrafman.com/" target="_blank">Ori Brafman</a></h5>
						</li>

						<li class="showcase-item media-block">
							<a class="showcase-img-mod" href="http://korenzailckas.com/" target="_blank">
								<img src="_img/showcase/koren.jpg" alt="Koren Zailckas"/>
							</a>
							<h5 class="head-label"><a href="http://korenzailckas.com/" target="_blank">Koren Zailckas</a></h5>
						</li>

						<li class="showcase-item media-block">
							<a class="showcase-img-mod" href="http://peterclines.com/" target="_blank">
								<img src="_img/showcase/peter.jpg" alt="Peter Clines"/>
							</a>
							<h5 class="head-label"><a href="http://peterclines.com/" target="_blank">Peter Clines</a></h5>
						</li>

						<li class="showcase-item media-block">
							<a class="showcase-img-mod" href="http://www.tommydoylespub.com/" target="_blank">
								<img src="_img/showcase/doyles.jpg" alt="Tommy Doyle's Pub" />
							</a>
							<h5 class="head-label"><a href="http://www.tommydoylespub.com/" target="_blank">Tommy Doyle's Pub</a></h5>
						</li>

						<li class="showcase-item media-block">
							<a class="showcase-img-mod" href="http://tuneinbook.com" target="_blank">
								<img src="_img/showcase/mark-lewhison.jpg" alt="Tommy Doyle's Pub" />
							</a>
							<h5 class="head-label"><a href="http://tuneinbook.com" target="_blank">Tune In: The Beatles, Vol. 1</a></h5>
						</li>

						<li class="showcase-item media-block">
							<a class="showcase-img-mod" href="http://www.maryellenstrom.com/" target="_blank">
								<img src="_img/showcase/mary-ellen.jpg" alt="Mary Ellen Strom" />
							</a>
							<h5 class="head-label"><a href="http://www.maryellenstrom.com/" target="_blank">Mary Ellen Strom</a></h5>
						</li>

						<li class="showcase-item media-block">
							<a class="showcase-img-mod" href="http://leagueofdenial.com/" target="_blank">
								<img src="_img/showcase/denial.jpg" alt="League of Denial" />
							</a>
							<h5 class="head-label"><a href="http://leagueofdenial.com/" target="_blank">League of Denial</a></h5>
						</li>

						<li class="showcase-item media-block">
							<div class="showcase-info-mod">
								<h6>Add your site to the showcase! Tweet us at <a href="http://twitter.com/timberwp" target="_blank">@TimberWP</a>!</h6>
							</div>
						</li>

					</ul>
				</article>
			</section><!--explainer-mod-->

		<div class="buttons">
			<div class="btn-container">
				<a class="big-btn" href="http://wordpress.org/plugins/timber-library/">Download</a>
				<a class="big-btn" href="https://github.com/jarednova/timber/wiki">Documentation</a>
				<a class="big-btn" href="https://github.com/jarednova/timber/wiki/Video-Tutorials">Screencasts</a>
			</div>
		</div><!-- / buttons -->
	</div> <!-- main -->
</div><!-- container -->

	<footer>
		<div class="container">
			<div class="ui-block-1">
				<h5 class="label-h">Developed by</h5>
				<h5 class="label"><a href="http://twitter.com/jarednova">Jared Novack</a> and your friends at <a href="http://upstatement.com">Upstatement.</a></h5>
			</div>
			<div class="ui-block-2">
				<h5 class="label-h">Timber powered by</h5>
				<h5 class="label"><a href="http://twig.sensiolabs.org/" target="_blank">Twig</a> and <a href="http://wordpress.org/" target="_blank">WordPress</a></h5>
			</div>
			<div class="ui-block-3 social-icons ss-icon ss-social-circle">
				<a href="https://twitter.com/timberwp">twitter</a>
				<a href="mailto:jared@upstatement.com">mail</a>
			</div>
		</div>

		<div class="ups-logo">
			<a href="http://upstatement.com" target="_blank"><img src="_img/ups-logo.png" alt="Upstatement logo" /></a>
		</div>
	</footer>



	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Scripts					-->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="_js/libs/jquery-1.7.2.min.js"><\/script>')</script>  	

	<script type="text/javascript" src="_js/libs/ss-social.js"></script>

  	<!-- Project-Specific stuff, start with up-base and go into script.js for your code --> 
	<!--<script type="text/javascript" src="_js/up-base.js"></script>-->
	<script type="text/javascript" src="_js/script.js"></script>

	<!-- end scripts-->

	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7 ]>
    	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
		<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15753546-5']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>