/* Bring in all Compass Helpers as well as Tito's base style files */
/* line 17, src/partials/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 30, src/partials/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 41, src/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 47, src/partials/_reset.scss */
img {
  line-height: 0;
  vertical-align: middle;
}

/* line 49, src/partials/_reset.scss */
nav ul {
  list-style: none;
}

/* line 51, src/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 54, src/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 56, src/partials/_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 58, src/partials/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 60, src/partials/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 62, src/partials/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 64, src/partials/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 67, src/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 69, src/partials/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 71, src/partials/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 84, src/partials/_reset.scss */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
  /*text-rendering: optimizeLegibility;*/
  /* this causes problems in Chrome for Windows and on iOS */
  -webkit-overflow-scrolling: touch;
}

/* line 87, src/partials/_reset.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 92, src/partials/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 100, src/partials/_reset.scss */
body, select, input, textarea {
  color: #444;
}

/* line 109, src/partials/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 112, src/partials/_reset.scss */
html {
  overflow-y: scroll;
}

/* line 116, src/partials/_reset.scss */
a:hover, a:active {
  outline: none;
}

/* line 121, src/partials/_reset.scss */
ul, ol {
  list-style: none;
}

/* line 122, src/partials/_reset.scss */
ol {
  list-style-type: decimal;
}

/* line 125, src/partials/_reset.scss */
nav ul, nav li {
  margin: 0;
}

/* line 127, src/partials/_reset.scss */
small {
  font-size: 85%;
}

/* line 128, src/partials/_reset.scss */
strong, th {
  font-weight: bold;
}

/* line 130, src/partials/_reset.scss */
td, td img {
  vertical-align: top;
}

/* line 132, src/partials/_reset.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 133, src/partials/_reset.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 135, src/partials/_reset.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 145, src/partials/_reset.scss */
textarea {
  overflow: auto;
}

/* line 147, src/partials/_reset.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 151, src/partials/_reset.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 152, src/partials/_reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 153, src/partials/_reset.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 154, src/partials/_reset.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 157, src/partials/_reset.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 160, src/partials/_reset.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 164, src/partials/_reset.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 171, src/partials/_reset.scss */
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 177, src/partials/_reset.scss */
::-moz-selection {
  background: #27b99e;
  color: #fff;
  text-shadow: none;
}

/* line 178, src/partials/_reset.scss */
::selection {
  background: #27b99e;
  color: #fff;
  text-shadow: none;
}

/* line 181, src/partials/_reset.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* line 185, src/partials/_reset.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 189, src/partials/_reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 197, src/partials/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 201, src/partials/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 203, src/partials/_reset.scss */
.clearfix {
  zoom: 1;
}

/* line 211, src/partials/_reset.scss */
.a11y-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* !============================================= */
/* ! Variables						  			  */
/* !============================================= */
/* !-- Universal ------------------------------------ */
/* !-- Project ------------------------------------ */
/* Numbers and widths ----------------------------- */
/* line 42, sprite/*.png */
.sprite-sprite, .sprite-edit-off {
  background: url('images/sprite-scc1f2af80b.png') no-repeat;
}

/* line 60, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-edit-off {
  background-position: 0 0;
  height: 1px;
  width: 1px;
}

/* line 301, src/partials/_mixins.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* !============================================= */
/* ! Custom Fonts					   			  */
/* !============================================= */
/* Follow this format, y'hear:

	@font-face { 
		font-family: "Knockout32"; 
		src: font-url('knockout/knockout-32.eot');
		src: font-url('knockout/knockout-32?#iefix') format('embedded-opentype'),
			 font-url('knockout/knockout-32.woff') format('woff'), 
			 font-url('knockout/knockout-32.ttf') format('truetype'), 
			 font-url('knockout/knockout-32.svg#webfontABgg4EO0') format('svg'); }	
*/
/* !============================================= */
/* ! Universal						   			  */
/* !============================================= */
/* Kill the margin on the last column */
/* line 11, src/partials/_layout.scss */
.ui-block:last-child,
.ui-block.last {
  margin-right: 0;
}

/* !============================================= */
/* ! Media Grid							   			  */
/* !============================================= */
/* !============================================= */
/* ! Grids							   			  */
/* !============================================= */
/* Grid-2 vars */
/* Grid-3 vars */
/* Grid-3-rrl vars */
/* Grid-4 vars */
/* Grid-5 vars */
/* ! Columns */
/* line 287, src/partials/_layout.scss */
.ui-block-25 {
  width: 25%;
}

/* line 291, src/partials/_layout.scss */
.ui-block-50 {
  width: 50%;
}

/* line 295, src/partials/_layout.scss */
.ui-block-75 {
  width: 75%;
}

/* !============================================= */
/* ! Spacers						   			  */
/* !============================================= */
/* Variables & Mixins */
/* Selectors */
/* line 325, src/partials/_layout.scss */
.spacer {
  margin-bottom: 50px;
}

/* line 329, src/partials/_layout.scss */
.spacer-small {
  margin-bottom: 10px;
}

/* line 333, src/partials/_layout.scss */
.spacer-med {
  margin-bottom: 25px;
}

/* line 337, src/partials/_layout.scss */
.spacer-large {
  margin-bottom: 75px;
}

/* !============================================= */
/* ! Image Blocks						   		  */
/* !============================================= */
/* line 352, src/partials/_layout.scss */
.imageblock-image {
  float: left;
  margin: 0 10px 0 0;
}

/* line 357, src/partials/_layout.scss */
.imageblock-image-right {
  float: right;
  margin: 0 0 0 10px;
}

/* line 362, src/partials/_layout.scss */
.imageblock-content {
  display: table-cell;
  vertical-align: top;
  width: 1000em;
}

/* line 369, src/partials/_layout.scss */
.ie6 .imageblock-content,
.ie7 .imageblock-content {
  display: block;
  width: auto;
  zoom: 1;
}

/* line 6, src/patterns.scss */
.page-width, #style-hdr .style-hdr-group, .style-body {
  min-width: 800px;
  max-width: 1400px;
}

/* line 11, src/patterns.scss */
#style-hdr {
  background: #222222 url('images/bg-leather.png?1357410311') 50% 50% repeat;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 2px 11px;
  -moz-box-shadow: rgba(0, 0, 0, 0.35) 0 2px 11px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 2px 11px;
}
/* line 20, src/patterns.scss */
#style-hdr .style-logo {
  display: inline;
  float: right;
  position: relative;
  margin-top: 6px;
  width: 120px;
}
/* line 27, src/patterns.scss */
#style-hdr .style-hdr-group {
  margin: 0 5%;
  *zoom: 1;
}
/* line 38, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#style-hdr .style-hdr-group:after {
  content: "";
  display: table;
  clear: both;
}
/* line 33, src/patterns.scss */
#style-hdr .style-page-h {
  font: bold 20px/120% "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  color: #fff;
  margin: 10px 30px 0 0;
  letter-spacing: 0;
  float: left;
}
/* line 42, src/patterns.scss */
#style-hdr .style-page-h.thin,
#style-hdr .style-page-h .thin {
  font-weight: normal;
}
/* line 46, src/patterns.scss */
#style-hdr .style-tabs {
  margin-top: 5px;
  float: left;
}
/* line 51, src/patterns.scss */
#style-hdr .style-tab {
  display: inline;
}
/* line 55, src/patterns.scss */
#style-hdr .style-tab > a {
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -ms-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  color: #999;
  display: block;
  float: left;
  font: normal 12px "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  padding: 10px 12px 11px;
  min-width: 70px;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 66, src/patterns.scss */
#style-hdr .style-tab > a:hover {
  color: #fff;
}
/* line 72, src/patterns.scss */
#style-hdr .style-tab a.active,
#style-hdr .style-tab a.active :hover {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border: none;
}

/* end style-hdr */
/* line 80, src/patterns.scss */
.style-body {
  padding: 55px;
  margin: 80px auto 0;
}

/* line 86, src/patterns.scss */
.style-container {
  font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  margin: 0 0 40px 0;
}

/* line 91, src/patterns.scss */
.style-header {
  background-color: #333;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 16px;
  padding: 6px;
  text-shadow: 1px 0 0 #000000;
}

/* line 101, src/patterns.scss */
.style-node {
  border-top: 1px solid #CCCCCC;
  margin: 30px 0 0;
  padding: 30px 0 0;
  *zoom: 1;
}
/* line 38, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.style-node:after {
  content: "";
  display: table;
  clear: both;
}

/* line 108, src/patterns.scss */
.style-node .style-node-h {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  margin: -30px 0 30px 0;
  padding: 6px;
  background-color: #ededed;
}

/* line 118, src/patterns.scss */
.style-example {
  float: right;
  margin: 0 0 0 10px;
  padding: 10px 0;
  width: 58%;
}
/* line 123, src/patterns.scss */
.style-example.full {
  width: 100%;
}

/* line 128, src/patterns.scss */
.style-meta-container {
  float: left;
  padding: 0 2% 0 1%;
  border-right: 1px solid #ccc;
  width: 40%;
}

/* line 135, src/patterns.scss */
dl, dt, dd {
  margin: 0;
  padding: 0;
}

/* line 140, src/patterns.scss */
.style-color {
  font: normal 24px/130% Miller, Georgia, Times, Times New Roman, serif;
}

/* line 144, src/patterns.scss */
.style-meta {
  padding: 10px 0;
  font-size: 12px;
}

/* line 149, src/patterns.scss */
.style-meta dt {
  font-weight: bold;
}

/* line 153, src/patterns.scss */
.style-meta dd {
  margin: 4px 0 12px;
  padding: 0 0 12px;
  border-bottom: 1px solid #ccc;
}

/* line 159, src/patterns.scss */
.style-meta dd:last-child {
  border-bottom: none;
}

/* line 164, src/patterns.scss */
.style-node-btn a[class*="btn"] {
  display: block;
  margin: 0 auto 30px;
  max-width: 200px;
}
/* line 169, src/patterns.scss */
.style-node-btn a[class*="btn-small"] {
  max-width: 130px;
}
/* line 172, src/patterns.scss */
.style-node-btn a[class*="btn-large"] {
  max-width: 270px;
}

/* Code
================================== */
/* line 180, src/patterns.scss */
.style-meta .code-snip {
  display: block;
  color: #666;
  background-color: #fff;
}
/* line 184, src/patterns.scss */
.style-meta .code-snip textarea {
  width: 100%;
  min-height: 61px;
  background-color: transparent;
  overflow: visible;
  color: #666;
  font: normal 12px/130% "Courier New", Courier, mono;
  border-color: #e5e5e5;
}
/* line 193, src/patterns.scss */
.style-meta .code-snip pre {
  display: block;
  background-color: #333;
  max-height: 195px;
  overflow-y: scroll;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  /* string  - pink */
  /* comment - skyblue */
  /* type    - lightgreen */
  /* literal - darkred */
  /* punctuation */
  /* html/xml tag    - lightyellow */
  /* attribute name  - khaki */
  /* attribute value - pink */
  /* decimal         - lightgreen */
  /* plaintext */
}
/* line 202, src/patterns.scss */
.style-meta .code-snip pre .nocode {
  background-color: none;
  color: #000;
}
/* line 203, src/patterns.scss */
.style-meta .code-snip pre .str {
  color: #ffa0a0;
}
/* line 204, src/patterns.scss */
.style-meta .code-snip pre .kwd {
  color: #f0e68c;
  font-weight: bold;
}
/* line 205, src/patterns.scss */
.style-meta .code-snip pre .com {
  color: #ffa0a0;
}
/* line 206, src/patterns.scss */
.style-meta .code-snip pre .typ {
  color: #98fb98;
}
/* line 207, src/patterns.scss */
.style-meta .code-snip pre .lit {
  color: #cd5c5c;
}
/* line 208, src/patterns.scss */
.style-meta .code-snip pre .pun {
  color: rgba(255, 255, 255, 0.35);
}
/* line 209, src/patterns.scss */
.style-meta .code-snip pre .tag {
  color: #f0e68c;
  font-weight: bold;
}
/* line 210, src/patterns.scss */
.style-meta .code-snip pre .atn {
  color: #bdb76b;
  font-weight: bold;
}
/* line 211, src/patterns.scss */
.style-meta .code-snip pre .atv {
  color: #87ceeb;
}
/* line 212, src/patterns.scss */
.style-meta .code-snip pre .dec {
  color: #98fb98;
}
/* line 213, src/patterns.scss */
.style-meta .code-snip pre .pln {
  color: rgba(255, 255, 255, 0.35);
}
/* line 214, src/patterns.scss */
.style-meta .code-snip pre .pln:first-child {
  width: 20px;
  height: 14px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.style-meta .code-snip pre .pln:first-child {
  *display: inline;
}
/* line 217, src/patterns.scss */
.style-meta .code-snip li:last-child .pln:first-child {
  width: 0;
  margin-top: 4px;
}
/* line 221, src/patterns.scss */
.style-meta .code-snip .highlight {
  color: #b32d47;
}

/* end .style-meta .code-snip */
/* Specify class=linenums on a pre to get line numbering */
/* line 228, src/patterns.scss */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #AEAEAE;
}

/* IE indents via margin-left */
/* line 230, src/patterns.scss */
li.L0 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L1 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L2 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L3 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L4 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L5 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L6 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L7 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L8 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L9 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L10 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L11 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L12 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L13 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L14 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L15 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L16 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L17 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L18 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L19 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L20 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L21 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L22 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L23 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L24 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L25 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L26 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L27 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L28 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L29 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L30 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L31 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L32 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L33 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L34 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L35 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L36 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L37 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L38 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L39 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L40 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L41 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L42 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L43 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L44 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L45 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L46 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L47 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L48 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L49 {
  list-style-type: none;
}

/* line 230, src/patterns.scss */
li.L50 {
  list-style-type: none;
}

/* Alternate shading for lines */
@media print {
  /* line 239, src/patterns.scss */
  pre {
    background-color: none;
  }

  /* line 240, src/patterns.scss */
  pre .str, code .str {
    color: #060;
  }

  /* line 241, src/patterns.scss */
  pre .kwd, code .kwd {
    color: #006;
    font-weight: bold;
  }

  /* line 242, src/patterns.scss */
  pre .com, code .com {
    color: #600;
    font-style: italic;
  }

  /* line 243, src/patterns.scss */
  pre .typ, code .typ {
    color: #404;
    font-weight: bold;
  }

  /* line 244, src/patterns.scss */
  pre .lit, code .lit {
    color: #044;
  }

  /* line 245, src/patterns.scss */
  pre .pun, code .pun {
    color: #440;
  }

  /* line 246, src/patterns.scss */
  pre .pln, code .pln {
    color: #000;
  }

  /* line 247, src/patterns.scss */
  pre .tag, code .tag {
    color: #006;
    font-weight: bold;
  }

  /* line 248, src/patterns.scss */
  pre .atn, code .atn {
    color: #404;
  }

  /* line 249, src/patterns.scss */
  pre .atv, code .atv {
    color: #060;
  }
}
