includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    #level: max
    level: 5
    paths:
        - lib/
    scanFiles:
        # Plugin stubs
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
    bootstrapFiles:
        - tests/phpstan/bootstrap.php
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters invoked with [3456] parameters, 2 required\.$#'
        # TODO Do not create a static instance of a non-final class.
        - '#^Unsafe usage of new static\(\)\.$#'
