<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="./tests/bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" backupGlobals="false" stopOnFailure="false">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./lib</directory>
	  <file>timber.php</file>
    </include>
    <exclude>
      <directory>./vendor</directory>
    </exclude>
    <report>
      <html outputDirectory="build/logs"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="all">
      <directory prefix="test-" suffix=".php">./tests/</directory>
    </testsuite>
    <!-- The suite below HAS to be last to run,
		as it includes a test that sets some const and would contaminate
		the other tests as well. -->
    <testsuite name="all-but-last">
      <directory prefix="testX-" suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
