{% extends "base.html" %}

{% block content %}

	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.post_title}}</h1>
				
				<p class="blog-author"><span>By</span> {{ post.author_data.display_name }} <span>&bull;</span> {{ post.display_date }}</p>

				<!-- these are filters, so we take the content of post.post_content, get the raw (unescaped) version and pass that to the wpautop function which we've made available to Twig -->
				{{post.post_content|raw|wpautop}}
			</section>

			<section class="comments">
				{{comments}}
			</section>

		</article>
	</div> <!-- /content-wrapper -->

{% endblock %}