/* !============================================= */

/* ! Custom Fonts					   			  */ 

/* !============================================= */

@mixin font-import {

/* Follow this format, y'hear:

	@font-face { 
		font-family: "Knockout32"; 
		src: font-url('knockout/knockout-32.eot');
		src: font-url('knockout/knockout-32?#iefix') format('embedded-opentype'),
			 font-url('knockout/knockout-32.woff') format('woff'), 
			 font-url('knockout/knockout-32.ttf') format('truetype'), 
			 font-url('knockout/knockout-32.svg#webfontABgg4EO0') format('svg'); }	
*/
	}

// Import custom fonts
@include font-import;