/* ---------------------------------------------- */

/*	Forms						 				  */ 

/* ---------------------------------------------- */

@mixin input-default {
	border: 0;
	background-color: transparent;
	@include box-shadow(none);
	@include border-radius(0);
	-webkit-appearance: none;
	&:focus {
		outline: 0;
	}
}

// Universal Form Vars
$form-size: med !default;

// Universal Form Sizes	
@mixin form-size-small {
	$form-h: 24px;

	.form-row {
		input[type=text],
		select,
		textarea,
		.uneditable-input,
		.add-on {
			font-size: 11px;
			padding: 4px;
			height: $form-h;
			}
		> label {
			font-size: 11px;
			line-height: 18px;
			}
		// Size & spacing for lists 
		.inputs-list,
		.list-inputs {
			label {
				font-size: 11px;
				}
			}
		} // end .form-row

	// Match button and form heights
	.btn, .button, 
	.btn-lt, .btn-light, 
	.btn-dark, .btn-dk {
		height: $form-h;
		}

	// Spacing for sidesaddle label 
	&.sidesaddle .form-row > label {
		margin-top: 3px;
		}
	}

@mixin form-size-med {
	$form-h: 28px;

	.form-row {
		input[type=text],
		select,
		textarea,
		.uneditable-input,
		.add-on {
			font-size: 13px;
			padding: 5px;
			height: $form-h;
			}
		> label {
			font-size: 13px;
			line-height: 18px;
			}
		// Size & spacing for lists 
		.inputs-list,
		.list-inputs {
			label {
				font-size: 13px;
				}
			}
		} // end .form-row

	// Match button and form heights
	.btn, .button, 
	.btn-lt, .btn-light, 
	.btn-dark, .btn-dk {
		height: $form-h;
		}

	// Spacing for sidesaddle label 
	&.sidesaddle .form-row > label {
		margin-top: 4px;
		}
	}

@mixin form-size-large {
	$form-h: 35px;

	.form-row {
		input[type=text],
		select,
		textarea,
		.uneditable-input,
		.add-on {
			font-size: 15px;
			padding: 6px;
			height: $form-h;
			}
		> label {
			font-size: 15px;
			line-height: 18px;
			margin-bottom: 8px;
			// Spacing for sidesaddle label 
			.sidesaddle & {
				margin-top: 6px;
				}
			}
		// Size & spacing for lists 
		.inputs-list,
		.list-inputs {
			label {
				font-size: 15px;
				}
			// Line up the check/radio
			input[type=checkbox],
			input[type=radio] {
				margin-top: 4px;				
				}
			> li {
				margin-bottom: 4px;
				}
			}
		} // end .form-row

	// Match button and form heights
	.btn, .button, 
	.btn-lt, .btn-light, 
	.btn-dark, .btn-dk {
		height: $form-h;
		}

	// Spacing for sidesaddle label 
	&.sidesaddle .form-row > label {
		margin-top: 7px;
		}
	}

$sidesaddle-width: 130px; //Default width for sidesaddle labels

@mixin sidesaddle {
	// Float the label left	
	.form-row > label {
		float: left;
		width: $sidesaddle-width;
		text-align: right;
		} 
	// Shift over the inside div to align all labels relevant content
	.input,
	.legend-h,
	.input-prepend,
	.input-append {
		margin-left: $sidesaddle-width + 20px;
		}
	.form-actions {
		padding-left: $sidesaddle-width + 20px; 
		}
} // end sidesaddle

	
/* !-- Universal Form Styles ----------------------------------- */

$sidesaddle-width: 130px; //Default width for sidesaddle labels

.form-basic {
	@include pie-clearfix;
	margin-bottom: 18px;

	// Sidesaddle labels
	&.sidesaddle {
		@include sidesaddle;
	}
	
	.form-row {
		// Make multiple select elements height not fixed
		select[multiple] {
			height: inherit;
			background-color: #fff;
		}
		// Dont fix the height of text areas, either
		textarea {
			height: auto;
		}
	}

	// Input defaults
	input[type=text],
	textarea,
	select,
	.uneditable-input {
		display: inline-block;
		width: 80%;
		color: #808080;
		border: 1px solid #ccc;
		@include border-radius(3px);
	}
} // end form-basic

// Spacing for standard fieldset
fieldset {
	margin-bottom: 18px;
	padding-top: 18px;
}

// Set spacing below form row
.form-row {
	@include pie-clearfix;
	margin-bottom: 18px;
	
	// Label default styles (others set by mixin). Must follow .form-row pattern
	> label {
		font-weight: bold;
		color: #404040;
		margin: 0 0 2px 2px;
		display: block;
		}
	}

// mini reset for non-html5 file types
input[type=checkbox], 
input[type=radio] {
	width: auto;
	height: auto;
	padding: 0;
	margin: 3px 0;
	*margin-top: 0;
	/* IE6-7 */
	line-height: normal;
	border: none;
	}
input[type=file] {
	background-color: #ffffff;
	padding: initial;
	border: initial;
	line-height: initial;
	box-shadow: none;
	}
input[type=button], input[type=reset], input[type=submit],
input.button, input.reset, input.submit {
	width: auto;
	height: auto;
	}
select, input[type=file], input.file {
	height: 27px;
	*height: auto;
	*margin-top: 4px;
	/* For IE7, add top margin to align select with labels */
	}

// Focus states
.form-basic input[type=text], .form-basic textarea {
	@include trans(.2s, border, linear);
	@include box-shadow(rgba(0, 0, 0, 0.1) 0 1px 3px inset);
	&:focus, &:focus {
		outline: 0;
		border-color: rgba(82, 168, 236, 0.8);
	 	@include box-shadow(rgba(0, 0, 0, 0.1) 0 1px 3px inset, rgba(82, 168, 236, 0.6) 0 0 8px);
	}
}
input[type=file]:focus, input[type=checkbox]:focus, select:focus {
	@include box-shadow(none);
	outline: 1px dotted #666;
	}


// Make cursor a pointer when hovering over check/radios
input[type=checkbox], input[type=radio] {
	cursor: pointer;
	}

// For text that needs to appear as an input but should not be an input
.uneditable-input {
	background-color: #fff;
	display: block;
	border-color: #eee;
	cursor: not-allowed;
	@include box-shadow(rgba(0, 0, 0, 0.025) 0 1px 2px inset);
	}

// Placeholder text gets special styles (can't be bundled together)
:-moz-placeholder {
	color: #bfbfbf;
	}
::-webkit-input-placeholder {
	color: #bfbfbf;
	}


/* !-- Form Sizes ----------------------------------- */

// Reference the form mixins above .form-basic

// Mixin used to create any form size
@mixin form($form-size) {
	@extend .form-basic;

	// Define form sizes & definitions
	@if $form-size == "s" or $form-size == "small" {
		@include form-size-small;
		}
	@if $form-size == "m" or $form-size == "med" or $form-size == "medium" or $form-size == "reg" {
		@include form-size-med;
		}
	@if $form-size == "l" or $form-size == "large" {
		@include form-size-large;
		}
		
	} // end form


// Classes for various form sizes
.form-s, .form-small {
	@include form(small);
	}

.form, .form-m, .form-med {
	@include form(med);
	}

.form-l, .form-large {
	@include form(large);
	}	

/* !-- Form States ----------------------------------- */

// Disabled
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	background-color: #f5f5f5;
	border-color: #ddd;
	cursor: not-allowed;
	}

.disabled {
	color: #999;
	}

// Error states
.error {
	$error-primary: #b94a48;
	> label, 
	.help-block, 
	.help-inline {
		color: $error-primary;
		}
	input, input[type=text], textarea {
		color: $error-primary;
		border-color: #ee5f5b;
		&:focus, 
		&:focus {
			border-color: #e9322d;
			@include box-shadow(#f8b9b7 0 0 6px);
			}
		}
	.input-prepend .add-on, 
	.input-append .add-on {
		color: $error-primary;
		background-color: #fce6e6;
		border-color: $error-primary;
	}
} // end error

// Warning states
.warning {
	$warning-primary: #c09853;
	> label, 
	.help-block, 
	.help-inline {
		color: $warning-primary;
		}
	input, input[type=text], textarea {
		color: #c09853;
		border-color: $warning-primary;
		&:focus, 
		&:focus {
			border-color: #be9a3f;
			@include box-shadow(#e5d6b1 0 0 6px);
			}
		}
	.input-prepend .add-on, 
	.input-append .add-on {
		color: $warning-primary;
		background-color: #d2b877;
		border-color: $warning-primary;
		}
} // end warning

// Success states
.success {
	$success-primary: #468847;
	> label, 
	.help-block, 
	.help-inline {
		color: $success-primary;
		}
	input, input[type=text], textarea {
		color: $success-primary;
		border-color: #57a957;
		&:focus, 
		&:focus {
			border-color: #458845;
			@include box-shadow( #9acc9a 0 0 6px);
			}
		}
	.input-prepend .add-on, 
	.input-append .add-on {
		color: $success-primary;
		background-color: #bcddbc;
		border-color: $success-primary;
		}
	} // end success


/* !-- Inline & List Inputs ----------------------------------- */

// Set color for extraneous text in inline inputs
.inline-inputs,
.inputs-inline {
	color: #808080;

	// Default width for inline inputs
	input[type=text], select {
		width: 15%;	
		}
	.help-block {
		padding: 0 2px 0 1px;
		}
	}
	
// Input Lists (for multiple options)
.inputs-list,
.list-inputs {
	margin: 0 0 5px;
	width: 100%;

	> li {
		display: block;
		padding: 0;
		width: 100%;
		}
	label {
		display: block;
		float: none;
		width: auto;
		padding: 0;
		margin-left: 20px;
		line-height: 18px;
		text-align: left;
		white-space: normal;
		}
	label strong {
		color: #808080;
		}
	label small {
		font-size: 11px;
		font-weight: normal;
		}
	.inputs-list,
	.list-inputs {
		margin-left: 25px;
		margin-bottom: 10px;
		padding-top: 0;
		}
	&:first-child {
		padding-top: 6px;
		}
	li + li {
		padding-top: 2px;
		}
	input[type=radio],
	input[type=checkbox] {
		margin-bottom: 0;
		margin-left: -20px;
		float: left;
		}
	} // end inputs-list


/* !-- Help Text ----------------------------------- */

.help-inline, .help-block {
	font-size: 13px;
	line-height: 18px;
	color: #bfbfbf;
	}
.help-inline {
	padding-left: 5px;
	*position: relative;	/* IE6-7 */
	*top: -5px;				/* IE6-7 */
	}
.help-block {
	margin-top: 4px;
	display: block;
	max-width: 600px;
	}


/* !-- Prepends & Appends ----------------------------------- */

.input-prepend, .input-append {
	@include pie-clearfix; 
	
	input {
		@include border-radius(0 3px 3px 0);
		}
	.add-on {
		position: relative;
		background: #f5f5f5;
		border: 1px solid #ccc;
		z-index: 2;
		float: left;
		display: block;
		width: auto;
		min-width: 16px;
		padding: 4px 4px 4px 5px;
		margin-right: -1px;
		font-weight: normal;
		line-height: 18px;
		color: #bfbfbf;
		text-align: center;
		@include text-shadow(#fff 0 1px 0);
		@include border-radius(3px 0 0 3px);
		}
	.active {
		background: #a9dba9;
		border-color: #46a546;
		}
	} // end prepend, append

.input-prepend {
	.add-on {
		*margin-top: 1px;
		/* IE6-7 */
		}
	}
	
// Reverse position for appends
.input-append { 
	input {
		float: left;
	 	@include border-radius(3px 0 0 3px);
		}
	.add-on {
		@include border-radius(0 3px 3px 0);
		margin-right: 0;
		margin-left: -1px;
		}
	}


/* !-- Form Headlines ----------------------------------- */

.legend-h {
	display: block;
	font-size: 19.5px;
	line-height: 1;
	color: #404040;
	margin-bottom: 18px;
	*padding: 0 0 5px 145px;	/* IE6-7 */
	*line-height: 1.5;			/* IE6-7 */
	}

/* !-- Form Buttons ----------------------------------- */

// Box surrounding submit / form action buttons 
.form-actions {
	background: #f5f5f5;
	margin-top: 18px;
	margin-bottom: 18px;
	padding: 17px 20px 18px;
	border-top: 1px solid #ddd;
	@include border-radius(0 0 3px 3px);

	// Move secondary action further from sight line
	.secondary-action {
		float: right;
		}
	}

/* !-- Form Widths ----------------------------------- */

.form-basic {
	.span-5 {
		width: 5%;
		}
	.span-10 {
		width: 10%;
		}
	.span-15 {
		width: 15%;
		}
	.span-20 {
		width: 20%;
		}
	.span-25 {
		width: 25%;
		}
	.span-30 {
		width: 30%;
		}
	.span-35 {
		width: 35%;
		}
	.span-40 {
		width: 40%;
		}
	.span-45 {
		width: 45%;
		}
	.span-50 {
		width: 50%;
		}
	.span-55 {
		width: 55%;
		}
	.span-60 {
		width: 60%;
		}
	.span-65 {
		width: 65%;
		}
	.span-70 {
		width: 70%;
		}
	.span-75 {
		width: 75%;
		}
	.span-80 {
		width: 80%;
		}
	.span-85 {
		width: 85%;
		}
	.span-90 {
		width: 90%;
		}
	.span-95 {
		width: 95%;
		}
	.span-100 {
		width: 100%;
		}
}