/* ---------------------------------------------- */

/*	Lists							 			  */ 

/* ---------------------------------------------- */

// Styles common to all lists
@mixin list-defaults {
	padding: 0 0 0 22px;
	> li {
		margin-bottom: 6px;
		}
	> li > p {
		}
	> li > a {
		}

	// Add class of "horiz" to any standard list to make it horizontal 
	&.horiz {
		> li {
			@include inline-block;
			margin: 0 7px 0 0;
			}
		}
	}

// Standard List, no bullets or whatnot
.list {
	@include list-defaults;
	}

// Bulleted List
.list-bull, .bull-list {
	list-style: disc outside;
	@include list-defaults;
		> .list-bull {
			margin: 9px 0;
			list-style-type: circle;			
			}
	}

// Alphabetical List
.list-alpha, .alpha-list {
	list-style: lower-alpha outside;
	@include list-defaults;
	}

// Numbered List
.num-list, .list-num,
.number-list, .list-number {
	list-style: decimal outside;
	@include list-defaults;
	}

// Glyph for horizontal lists
@mixin list-horiz-glyph {
	content: '|'; // Entity for the caret ">" character
	margin-left: 8px;
	}

// Horizontal Lists
.list-horiz,
.horiz-list {
	@include list-defaults;
	padding: 0;
	> li {
		@include inline-block;
		margin: 0 4px 0 0;
		&:not(:last-child):after {
			@include list-horiz-glyph;	
			}
		// Rewrite this rule so IE 7-8 understand
		.ie &:after {
			@include list-horiz-glyph;	
			}
		.ie &.last:after {
			content: "";
			}
		}
	} // end .list-horiz