/* ============================================= */
/*	Header					   		*/
/* ============================================= */

.header {
	.logo {
		display: block;
		margin: 0 auto;
		width:100%;
		img {
			width:100%;
		}
		&.desktop {
			display:none;
		}
		@media (min-width:960px){
			&.desktop{
				display:block;
			}
			&.mobile {
				display:none;
			}
		}
	}
}

.nav-stripe {
	padding: 10px;
	background-color: $med-green;
	border-bottom: 1px dashed $light-green;
	@include pie-clearfix;
	.nav-social {
		width:60%;
	}
	@media (min-width:500px){
		.nav-social {
			float:left;
			width:25%;
		}
		.nav-main {
			margin:auto;
			float:left;
			width:50%;
		}
		.nav-placeholder {
			float:left;
			width:25%;
		}
	}
	/*
	@media(min-width:800px){
		.nav-social {
			width:100%;
		}
	}*/
}

.nav-main {
	width:66%;
	//margin:auto;
	ul {
		@include pie-clearfix;
	}
	li {
		float:left;
		width:(97%/3);
		margin:0 .5%;
	}
}
.nav-main-link, .main-nav-link {
	background-color:$evergreen;
	@include background-image(linear-gradient(lighten($evergreen, 3), darken($evergreen, 0)));
	display:block;
	text-align:center;
	height:28px;
	padding:6px 7px;
	color:$med-green;
	font-family:$openSans;
	font-weight:700;
	font-size:12px;
	border:1px solid;
	border-color:rgba(black, .1) rgba(black, .1), rgba(black, .25);
	@include border-radius(5px);
	i {
		font-style:normal;
	}
	.mobile {
			display:inline;
	}
	.desktop {
		display:none;
	}
	@include trans(500ms, font-size);
	@media (min-width:500px){
		font-size:13px;
		height:32px;

	}
	@media (min-width:900px){
		font-size:15px;
		.mobile {
			display:none;
		}
		.desktop {
			display:inline;
		}
	}
	&:hover {
		color:$light-green;
		background-color:lighten($evergreen, 10);
		background-color:$bright-green;
		@include background-image(linear-gradient(lighten($bright-green, 3), darken($bright-green, 0)));
	}

}

.tagline {
	text-align:center;
	color:$evergreen;
	font-family:$openSans;
	font-weight:700;
	font-size:24px;
	line-height:27px;
	margin-bottom:30px;
	padding:0px 20px;
	@media (min-width:960px){
		font-size:32px;
		margin-bottom:45px;
	}
}

.showcase-mod {
	padding-top:10px;
	@include media-grid(2);
	min-height:215px;
	@media (min-width:600px){
		@include media-grid(3, em(40));
		.media-block:nth-child(2n+3) {
			clear:none;
		}
	}
}

.head-label {
	font-family:$coustard;
	color:$med-green;
	font-size:15px;
	a:hover {
		color:$bright-green;
	}
}

.showcase-item {
	.showcase-info-mod {
		border:1px solid #CCC;
		@include box-shadow(0px 0px 2px rgba(black, .3));
		margin-bottom:8px;
		background-color:mix($bright-green, $light-green);
		padding:40px 10px;
		color:white;
		text-align:center;
		font-family:$openSans;
		font-weight:normal;
		a {
			color:$evergreen;
		}
		a:hover {
			color:$bright-green;
		}
	}
	.showcase-img-mod {
		display:block;
		border:1px solid #CCC;
		@include box-shadow(0px 0px 2px rgba(black, .3));
		margin-bottom:8px;
		&:hover {
			border-color:$bright-green;
		}
		img {
			max-width:100%;
			display:block;

			background-color:gray;
		}

	}
	margin-bottom:20px;
}

.endtag-mod {
	margin-bottom:50px;
	border-bottom:1px solid $light-green;
	padding-bottom:40px;
}

.endtag {
	text-align:center;
	font-family:$openSans;
	font-size:24px;
	line-height:30px;
	font-weight:400;
	color:$evergreen;
	a {
		font-weight:bold;
		&:hover {
			color:$bright-green;
		}
	}
}

.promo-stripe {
	background-color:$med-green;
	color:$whiteGreen;
	padding-bottom:30px;
	padding-top:30px;
	@media (min-width:650px){
		padding-left:20%;
		padding-right:20%;
	}
	@media (min-width:960px){
		padding:35px 0% 55px;
	}
	.content-wrapper {
		max-width:960px;
		margin:auto;

	}

	.headline-s {
		color:$light-green;
	}


}

.features {
	@media (min-width:960px){
		@include pie-clearfix;
		.feature {
			float:left;
			width:33%;
			border-bottom:0px;
			padding-bottom:0px;
		}
	}
}

.feature {
	text-align:center;
	padding:0px 20px 20px;
	margin-bottom:20px;
	border-bottom:1px dashed $light-green;
	&:last-child {
		border-bottom:0px;
	}
}
.headline-s {
	font-family:$coustard;
	font-weight:700;
	color:$med-green;
	font-size:18px;
	line-height:20px;
	margin-bottom:5px;
}
.txt-s {
	font-family:$openSans;
	font-size:12px;
	line-height:17px;
	a {
		font-weight:700;
	}
}

#main {
	background-color:$whiteGreen;
	@include box-shadow(0px 0px 10px rgba($evergreen, .6));
	margin-top:-40px;
	padding:60px 7%;
	@media (min-width:960px){
		margin-top:-60px;
	}
	.tagline {
		font-size:24px;
		text-align:left;
	}
}

.section-mod {
	border-bottom:1px solid $light-green;
	padding-bottom:40px;
	margin-bottom:60px;
	&:last-of-type {
		border-bottom:0px;
	}
}

.feature-info {
	border-bottom:1px solid $light-green;
	padding-bottom:20px;
	margin-bottom:50px;
}

.section-head, .section-h {
	font-family:$coustard;
	font-weight:bold;
	color:$med-green;
	font-size:22px;
	margin-bottom:4px;
}

.section-h1 {
	color:lighten($evergreen, 5);
	font-family:$coustard;
	text-transform:uppercase;
	font-size:20px;
	letter-spacing:3.5px;
	margin-bottom:40px;
	line-height:25px;
}

.txt, .section-txt {
	font-family:$openSans;
	font-size:15px;
	line-height:23px;
	font-weight:normal;
	color:$textGreen;
	a {
		color:$med-green;
		&:hover {
			color:$bright-green;
		}
	}
}

.code-side-by-side {
	margin-bottom:20px;
	@media (min-width:768px){
		@include ui-grid-2(50%, 50%);
		code {
			min-height:300px;
		}
	}
}

.code-holder {
	position:relative;
	&:first-child {
		z-index:100;
		margin-bottom:10px;
	}
}

code.php, code.twig {
	padding:0px 20px 30px;
}

.code-mod {
	position:relative;
	code {
		padding-top:20px;
	}
}

.code-tag {
	border:2px solid $light-green;
	background-color:$bright-green;
	font-family:$openSans;
	font-weight:bold;
	color:$light-green;
	font-size:18px;
	text-align:center;
	padding:5px 10px;
	@include inline-block;
	@include rotate(-4deg);
	position:absolute;
	left:-9px;
	.muted {
		color:$evergreen;
	}
	&.bottom {
		bottom:-10px;
	}
	&.top {
		top:-5px;
	}
}


.feature-icon-mod {
	margin:auto;
	width:50%;
	.feature-icon-img {
		max-width:100%;
	}
}

.fb-like {
	margin-right:10px;
}

.gh-button {
	margin-right:10px;
}

.social-item {
	display:inline-block;
}
