/* ---------------------------------------------- */

/*	Typography						 			  */ 

/* ---------------------------------------------- */

/* !-- Typefaces ------------------------------------ */

.adelle-bold {
	font-family: "adelle", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.open-light {
	font-family: "open-sans", Arial, Helvetica, sans-serif;
	font-weight: 300;
}

.open-reg {
	font-family: "open-sans", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

.ss-social {
	font-family: "ss-social", Arial, Helvetica, sans-serif;
}

.inconsolata {
	font-family: "inconsolata", "Courier New", Courier, monospace;
}


/* !-- Type styles ------------------------------------ */

// Your standard link style. Create more as needed
@mixin default-link {
	@include trans;
	color: $link;
	&:hover {
		color: darken($link, 10%);
	}
}