/* !============================================= */

/* ! Variables						  			  */ 

/* !============================================= */

/* !-- Universal ------------------------------------ */

$black-5: #f5f5f5;
$black-10: #ededed;
$black-15: #ccc;
$black-50: #999;
$black-75: #666; 
$black-90: #222; 
$black-95: #111; 

$light-gray: $black-10;
$med-gray: $black-50;
$dark-gray: $black-75;
$tease-txt: $black-75;
$txt-black: $black-90;
$text-black: $txt-black;

/* !-- Project ------------------------------------ */

$blue: #1d78af;

$background-color:white;
$link: #27b99e;
$link-hover: darken($link, 8%);
$highlight: #27b99e;  //upstate-mint
$highlight-hover: darken($highlight, 8%);

$trans-black: rgba(0,0,0,.85);

$bg-black: #111;
$text: #333;

/* Numbers and widths ----------------------------- */
$max-width:1500px;

$sans:Arial,Helvetica,Verdana,sans-serif;
$serif:Georgia,Times,Times New Roman,serif;
$mono:"Courier New",Courier,mono;

