/* !============================================= */

/* ! Variables						  			  */ 

/* !============================================= */

/* !-- Universal ------------------------------------ */

$black-5: #f5f5f5;
$black-10: #ededed;
$black-15: #ccc;
$black-50: #999;
$black-75: #666; 
$black-90: #222; 
$black-95: #111; 

$light-gray: $black-10;
$med-gray: $black-50;
$dark-gray: $black-75;
$tease-txt: $black-75;
$txt-black: $black-90;
$text-black: $txt-black;

/* !-- Project ------------------------------------ */

$blue: #1d78af;

$light-green: #cde6c1;
$med-green: #71a768;
$dark-green: #3e9135;
$blue-green:#0d443a;
$bright-green: #5cbb4d;

.light-green {
	color: $light-green;
}

$textGreen:rgb(59, 64, 59);
$evergreen:rgb(14, 85, 75);
$white-green:rgb(237, 246, 233);
$whiteGreen:$white-green;
$greenWhite:$white-green;

$link: $blue;
$link-hover: darken($link, 8%);
$highlight: #ea4c88;  //Pink

$sans:Arial,Helvetica,Verdana,sans-serif;
$serif:Georgia,Times,Times New Roman,serif;
$mono:"Courier New",Courier,mono;

$coustard:'Coustard', $serif;
$open-sans:'Open Sans', $sans;
$custard:$coustard;
$openSans:$open-sans;

