li[class*="timber"] .wp-menu-image {
	overflow:hidden;
}

li[class*="timber"] .wp-menu-image img {
	position:relative;
	left:-8px;
	top:-36px;
}
li[class*="timber"]:hover .wp-menu-image img,
li[class*="timber"].current .wp-menu-image img {
	top:-3px;
}

.timber-logo {
	max-width:600px;
}

.timber-logo-img {
	width:100%;
	display:block;
	max-width:100%;
}