<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Coustard:900' rel='stylesheet' type='text/css'>
<div class="wrap" id="timber-getting-started">
	<h1 class="timber-logo"><img src="{{timber_base}}admin/images/logo/timber-badge-large.jpg" class="timber-logo-img" /></h1>
	<p class="intro">If you're looking for settings, you're in the wrong place. Timber is controlled 100% in your theme (or plugin). For more information on how to do that, read on!</p>
	<section>
		<h2>Documentaion</h2>
		<ul class="reading-list">
			<li>Read an <a href="http://www.wpmayor.com/articles/timber-templating-language-wordpress/" target="_blank">introduction to Timber</a> on WP Mayor</li>
			<li>You'll be using Twig to acutally write the HTML for your files. I highly recommend the <a href="http://twig.sensiolabs.org/doc/templates.html" target="_blank">"Twig for Template Designers"</a> page in their <a href="http://twig.sensiolabs.org/documentation" target="_blank">documentation</a></li>
			<li>The Timber Wiki has the <a href="https://github.com/jarednova/timber/wiki">complete documentation</a>. But specifically, you might want to check out the 'Cookbooks' for <a href="https://github.com/jarednova/timber/wiki/Image-cookbook" target="_blank">images</a>, <a href="https://github.com/jarednova/timber/wiki/Text-Cookbook" target="_blank">text</a>, <a href="https://github.com/jarednova/timber/wiki/ACF-Cookbook" target="_blank">Advanced Custom Fields</a> and <a href="https://github.com/jarednova/timber/wiki/WP-Integration" target="_blank">WordPress core/plugin integration</a></li>
			<li>I also produced a <a href="https://github.com/jarednova/timber/wiki/Video-Tutorials" target="_blank">series of screencasts</a> (you can watch the first one below) on re-writing Timber into an existing theme.
		</ul>
	</section>

	<h2>Getting Started</h2>
	<p>This is a quick getting-started guide to using Timber in your theme. It requires a solid knowledge of HTML and a basic understanding of PHP.</p>

	<article id="existing-theme">
		<h3>Method 1: I have an existing theme I want to use with Timber</h3>
		<p>In that case, use your favorite text editor to open up <span class="code">{{home_file.name}}</span> inside of <span class="code">{{home_file.location}}</span>. This is the file that powers your homepage. If you're working off your server, you'll need to use an FTP program like <a href="http://panic.com/transmit/" target="_blank">Transmit</a> or <a href="http://cyberduck.ch/" target="_blank">Cyberduck</a>.</p>

		<h4>Cool, watch this!</h4>
		<p>(You can fast-forward to about 1:20 after some of the install talk)</p>
		<div class="video-mod">
			<div class="youtube-embed">
				<iframe src="//www.youtube.com/embed/SlMonnwVi5M" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</article>

	<article id="from-scratch">
		<h3>Method 2: Starting from scratch!</h3>
		<p>Great, nothing like a fresh start. Navigate to <span class="code">{{timber_base}}</span>. Inside you should see a <span class="code">timber-starter-theme</span> folder. Grab this and copy/drag it into <span class="code">/wp-content/themes</span>. Rename it to something good.</p>
		<div class="video-mod">
			<div class="youtube-embed">
				<iframe src="//www.youtube.com/embed/fGqbt84SkrQ" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</article>


<!-- 
	<form class="timber-controls" method="post">
		<input type="hidden" name="hide_timber_admin_menu" value="true" />
		<input type="submit" accesskey="p" class="button-primary button button-hero" value="Thanks! Please remove this from my menu and stick it in settings or something" />
	</form> -->

</div>