/* !============================================= */

/* ! Universal						   			  */ 

/* !============================================= */


/* Kill the margin on the last column */

.ui-block:last-child,
.ui-block.last {
	margin-right: 0;
}



/* !============================================= */

/* ! Media Grid							   			  */ 

/* !============================================= */

@mixin media-grid($num: 2, $pad: em(20), $class:media-block) {
	margin-left: -#{$pad};
	@include pie-clearfix;

	.#{$class} {
		float: left;
		padding-left: #{$pad};
		@if $num == 2 or $num == "two" {
			width: 50%;
			&:nth-child(2n+3) {
				clear: left;
			}
		}
		@if $num == 3 or $num == "three" {
			width: 33.3333%;
			&:nth-child(3n+4) {
				clear: left;
			}
			.ie7 & {
				width: 33%;
			}
		}
		@if $num == 4 or $num == "four" {
			width: 25%;
			&:nth-child(4n+5) {
				clear: left;
			}
		}
		@if $num == 5 or $num == "five" {
			&:nth-child(5n+6) {
				clear: left;
			}
			width: 20%;
		}
	}
} //media-grid


/* !============================================= */

/* ! Grids							   			  */ 

/* !============================================= */



@mixin ui-grid($ui-block-num) {
	
	
	
}

/* Grid-2 vars */

$width-1: 50% !default; 
$width-2: 50% !default; 
$margin-r: 5% !default; 

@mixin ui-grid-2($width-1:50%,$width-2:50%,$margin-r:5%) {
	@include pie-clearfix;

	> .ui-block-1,
	> .ui-block.first {
		width: $width-1 - ($margin-r/2);
		@include float-left;
		margin-right: $margin-r;
	}

	> .ui-block-2,	
	> .ui-block.second {
		width: $width-2 - ($margin-r/2);
		@include float-left;
		margin-right: 0;
	}
}

@mixin ui-grid-rl($width-1,$width-2,$margin-r) {
	@include pie-clearfix;

	> .ui-block-1,	
	> .ui-block.first {
		width: $width-1 - ($margin-r/2);
		@include float-right;
	}
	
	> .ui-block-2,
	> .ui-block.second {
		width: $width-2 - ($margin-r/2);
		@include float-left;
		margin-right: 0;
	}
}

@mixin ui-grid-lr($width-1,$width-2,$margin-r) {
	@include pie-clearfix;

	> .ui-block-1,	
	> .ui-block.first {
		width: $width-1 - ($margin-r/2);
		@include float-left;
	}

	> .ui-block-2,	
	> .ui-block.second {
		width: $width-2 - ($margin-r/2);
		@include float-right;
		margin-right: 0;
	}
}

/* Grid-3 vars */

$width3-1: 33.333333% !default; 
$width3-2: 33.333333% !default; 
$width3-3: 33.333333% !default; 
$margin3-r: 3.5% !default; 
	
@mixin ui-grid-3($width3-1,$width3-2,$width3-3,$margin3-r)  {
	@include pie-clearfix;

	> .ui-block-1,
	> .ui-block.first {
		width: $width3-1 - ($margin3-r/3);
		@include float-left;
		margin-right: $margin3-r/2;
	}

	> .ui-block-2,	
	> .ui-block.second {
		width: $width3-2 - ($margin3-r/3);
		@include float-left;
		margin-right: $margin3-r/2;
	}

	> .ui-block-3,
	> .ui-block.last {
		width: $width3-3 - ($margin3-r/3);
		@include float-left;
		margin-right: 0;		
	}
}

/* Grid-3-rrl vars */
	
@mixin ui-grid-rrl($width3-1,$width3-2,$width3-3,$margin3-r)  {
	@include pie-clearfix;

	> .ui-block-1,
	> .ui-block.first {
		width: $width3-1 - ($margin3-r/3);
		@include float-right;
		margin-right: 0;
	}

	> .ui-block-2,
	> .ui-block.second {
		width: $width3-2 - ($margin3-r/3);
		@include float-right;
		margin-right: $margin3-r/2;
	}

	> .ui-block-3,
	> .ui-block.last {
		width: $width3-3 - ($margin3-r/3);
		@include float-left;
		margin-right: $margin3-r/2;		
	}
}


/* Grid-4 vars */

$width4-1: 25% !default; 
$width4-2: 25% !default; 
$width4-3: 25% !default; 
$width4-4: 25% !default; 
$margin4-r: 8% !default; 

@mixin ui-grid-4($width4-1,$width4-2,$width4-3,$width4-4,$margin5-r) {

	@include pie-clearfix;

	> .ui-block-1,
	> .ui-block.first {
		width: $width4-1 - ($margin4-r/4);
		@include float-left;
		margin-right: $margin4-r/3;
	}

	> .ui-block-2,	
	> .ui-block.second {
		width: $width4-2 - ($margin4-r/4);
		@include float-left;
		margin-right: $margin4-r/3;
	}

	> .ui-block-3,
	> .ui-block.third {
		width: $width4-3 - ($margin4-r/4);
		@include float-left;
		margin-right: $margin4-r/3;
	}

	> .ui-block-4,
	> .ui-block.last {
		width: $width4-4 - ($margin4-r/4);
		@include float-left;
		margin-right: 0;	
	}
}


/* Grid-5 vars */

$width5-1: 20% !default; 
$width5-2: 20% !default; 
$width5-3: 20% !default; 
$width5-4: 20% !default; 
$width5-5: 20% !default; 
$margin5-r: 8% !default; 

@mixin ui-grid-5($width5-1,$width5-2,$width5-3,$width5-4,$width5-5,$margin5-r) {

	@include pie-clearfix;

	> .ui-block-1,
	> .ui-block.first {
		width: $width5-1 - ($margin5-r/5);
		@include float-left;
		margin-right: $margin5-r/4;
	}

	> .ui-block-2,	
	> .ui-block.second {
		width: $width5-2 - ($margin5-r/5);
		@include float-left;
		margin-right: $margin5-r/4;
	}

	> .ui-block-3,
	> .ui-block.third {
		width: $width5-3 - ($margin5-r/5);
		@include float-left;
		margin-right: $margin5-r/4;
	}

	> .ui-block-4,
	> .ui-block.fourth {
		width: $width5-4 - ($margin5-r/5);
		@include float-left;
		margin-right: $margin5-r/4;
	}

	> .ui-block-5,
	> .ui-block.last {
		width: $width5-5 - ($margin5-r/5);
		@include float-left;
		margin-right: 0;	
	}
}


/* ! Columns */

.ui-block-25 {
	width: 25%;
}

.ui-block-50 {
	width: 50%;
}

.ui-block-75 {
	width: 75%;
}

	
/* !============================================= */

/* ! Spacers						   			  */ 

/* !============================================= */

/* Variables & Mixins */

$spacer: 50px;
$spacer-small: round($spacer/5);
$spacer-med: round($spacer/2);
$spacer-large: round($spacer*1.5);


$spacer-top: inherit !default;
$spacer-bottom: inherit !default;

@mixin spacer($spacer-top, $spacer-bottom) {
	margin-top: $spacer-top;
	margin-bottom: $spacer-bottom;
}


/* Selectors */

.spacer {
	margin-bottom: $spacer;
}

.spacer-small {
	margin-bottom: $spacer-small;
}

.spacer-med {
	margin-bottom: $spacer-med;
}

.spacer-large {
	margin-bottom: $spacer-large;
}
	
	
/* !============================================= */

/* ! Image Blocks						   		  */ 

/* !============================================= */

.imageblock {
	@extend clearfix;
}

.imageblock-image {
	float: left;
	margin: 0 10px 0 0;	
}

.imageblock-image-right {
	float: right;
	margin: 0 0 0 10px;
}

.imageblock-content {
	display: table-cell;
	vertical-align: top;
	width: 1000em;
}
	
.ie6 .imageblock-content,
.ie7 .imageblock-content {
	display: block;
	width: auto;
	zoom: 1;
}