/* ---------------------------------------------- */

/*	Universal						 			  */ 

/* ---------------------------------------------- */

// Default properties for responsive images
.resp-img {
	width: 100%;
	max-width: 100%;
	height: auto;
	}

// Default transform properties
.trans {
	@include trans;
	}
	
/* ---------------------------------------------- */

/*	Typography						 			  */ 

/* ---------------------------------------------- */


/* !-- Links ------------------------------------ */

// Your standard link style. Create more as needed
@mixin default-link {
	@include trans;
	color: $link;
	&:hover {
		color: darken($link, 10%);
		}
	}

.default-link {
	@include default-link;
	}


/* !-- Headlines/Headers ------------------------ */

.page-h1 {

	> a {
		// Direct descendent links will share master style  
		@include unstyled-link;
		}
	}

.page-h2 {

	> a {
		// Direct descendent links will share master style  
		@include unstyled-link;
		}
	}

.section-h1 {

	> a {
		// Direct descendent links will share master style  
		@include unstyled-link;
		}
	}

.section-h2 {

	> a {
		// Direct descendent links will share master style  
		@include unstyled-link;
		}	
	}


/* !-- Text ----------------------------------- */

// Set default text type mixin
@mixin text-large {

	// Links will take on default style
	> a,
	> p > a {
		@include default-link;		
		}
	}

@mixin text {

	// Links will take on default style
	> a,
	> p > a {
		@include default-link;		
		}
	}

@mixin text-small {

	// Links will take on default style
	> a,
	> p > a {
		@include default-link;		
		}
	}


// Create base classes from text types
.text-l, .txt-l,
.text-large, .txt-large {
	@include text-large;

	// For instances with multiple paragraphs, add margin 
	> p {
		margin-bottom: 16px;
		}	
	}

.text, .txt,
.text-m, .text-med, 
.txt-m, .txt-med {
	@include text;

	// For instances with multiple paragraphs, add margin 
	> p {
		margin-bottom: 12px;
		}
	}

.text-s, .txt-s,
.text-small, .txt-small {
	@include text-small;

	// For instances with multiple paragraphs, add margin 
	> p {
		margin-bottom: 10px;
		}	
	}


/* !-- Misc. Type -------------------------------- */

// Set misc. text styles mixins
@mixin overline {

	}

@mixin source {

	}

@mixin breadcrumb-glyph {
	content: '\203A'; // Entity for the caret ">" character
	margin-left: 8px;
	}

@mixin breadcrumb {
	
	> li {

		&:not(:last-child):after {
			@include breadcrumb-glyph;	
			}
		// Rewrite this rule so IE 7-8 understand
		.ie &:after {
			@include breadcrumb-glyph;	
			}
		.ie &.last:after {
			content: "";
			}
		}
	
	> li > a {

		}
	}


// Create base classes from misc. text styles
.src,
.source {
	@include source;
	}

.overline {
	@include overline;
	margin-bottom: 10px;
	}

.breadcrumb {
	@include breadcrumb;
	}


/* !-- Lists ----------------------------------- */

// Styles common to all lists
@mixin list-defaults {
	padding: 0 0 0 22px;

	> li {

		}
	> li > p {

		}
	> li > a {
		@include default-link;
		}
	// Add class of "horiz" to any standard list to make it horizontal 
	&.horiz {
		> li {
			@include inline-block;
			margin: 0 7px 0 0;
			}
		}
	}

// Standard List, no bullets or whatnot
.list {
	@include list-defaults;
	}

// Bulleted List
.list-bull, .bull-list {
	list-style: disc outside;
	@include list-defaults;
		> .list-bull {
			margin: 9px 0;
			list-style-type: circle;			
			}
	}

// Alphabetical List
.list-alpha, .alpha-list {
	list-style: lower-alpha outside;
	@include list-defaults;
	}

// Numbered List
.num-list, .list-num,
.number-list, .list-number {
	list-style: decimal outside;
	@include list-defaults;
	}

// Glyph for horizontal lists
@mixin list-horiz-glyph {
	content: '|';
	margin-left: 8px;
	}

// Horizontal Lists
.list-horiz,
.horiz-list {
	@include list-defaults;
	> li {
		@include inline-block;
		margin: 0 7px 0 0;
		&:not(:last-child):after {
			@include list-horiz-glyph;	
			}
		// Rewrite this rule so IE 7-8 understand
		.ie &:after {
			@include list-horiz-glyph;	
			}
		.ie &.last:after {
			content: "";
			}
		}
	} // end .list-horiz


/* !-- Bugs ----------------------------------- */

// Bug color variables
$bug-new: #46a546;
$bug-important: #c43c35;
$bug-warning: #f89406;
$bug-success: #46a546;
$bug-notice: #62cffc;

.bug {

	&.new {
		background-color: $bug-new;
		}
	&.important {
		background-color: $bug-important;
		}
	&.warning {
		background-color: $bug-warning;
		}
	&.success {
		background-color: $bug-success;
		}
	&.notice {
		background-color: $bug-notice;
		}
	}

/* ---------------------------------------------- */

/*	Objects							 			  */ 

/* ---------------------------------------------- */

/* !-- Buttons ----------------------------------- */

// Universal Button Vars
$btn-size: med !default;
$btn-style: light !default;

// Universal Button Sizes	
@mixin btn-size-small {
	font-size: 11px;
	padding: 4px 11px 5px;		
	}

@mixin btn-size-med {
	font-size: 13px;
	padding: 5px 14px 6px;	
	}

@mixin btn-size-large {
	font-size: 14px;
	padding: 7px 16px 8px;
	}

// Universal Button Styles
@mixin btn-basic($btn-size) {
	
	&:hover {
		cursor: pointer;
		}
	}

// Specific Button Styles
@mixin btn-light {

	&.active, &:active {

		}
	&.disabled, &[disabled],
	&.disabled:hover, &[disabled]:hover {

		}	
	}

@mixin btn-dark {

	}


// Mixin used to create any combination of button sizes and styles
@mixin btn($btn-size, $btn-style) {
	@include btn-basic;

	// Define button sizes & definitions
	@if $btn-size == "s" or $btn-size == "small" {
		@include btn-size-small;
		}
	@if $btn-size == "m" or $btn-size == "med" or $btn-size == "medium" or $btn-size == "reg" {
		@include btn-size-med;
		}
	@if $btn-size == "l" or $btn-size == "large" {
		@include btn-size-large;
		}
	
		
	// Define button styles & definitions	
	@if $btn-style == "light" or $btn-style == "lt" or $btn-style == "reg" {
		@include btn-light;
		}
	@if $btn-style == "dark" or $btn-style == "dk" {
		@include btn-dark;
		}
	} // end btn
	

// Automagically output every combination of button style and size

$size-defaults: small, med, large;
$style-defaults: light, dark;

$btn-alias: ".btn", ".button";

$size-small: "s", "small"; 
$size-med: "m", "med"; 
$size-large: "l", "large";

$style-light: "lt", "light";
$style-dark: "dk", "dark";

@each $size in $size-defaults {
	@each $style in $style-defaults {
	.button-#{$size}-#{$style} {
		@include btn($size, $style);
		}
	}
}

@each $btn in $btn-alias {
	@each $style in $style-light {
		@each $size in $size-small {
			#{$btn}-#{$size},
			#{$btn}-#{$style}-#{$size}, {
				@extend .button-small-light;
			}
		}
		@each $size in $size-med {
			#{$btn}, 				//Denotes default button style
			#{$btn}-#{$size},		//Denotes default button style
			#{$btn}-#{$style},
			#{$btn}-#{$style}-#{$size}, {
				@extend .button-med-light;
			}
		}			
		@each $size in $size-large {
			#{$btn}-#{$size},
			#{$btn}-#{$style}-#{$size} {
				@extend .button-large-light;
			}			
		}
	@each $style in $style-dark {
		@each $size in $size-small {
			#{$btn}-#{$style}-#{$size} {
				@extend .button-small-dark;
			}
		}
		@each $size in $size-med {
			#{$btn}-#{$style},
			#{$btn}-#{$style}-#{$size} {
				@extend .button-med-dark;
			}
		}			
		@each $size in $size-large {
			#{$btn}-#{$style}-#{$size} {
				@extend .button-large-dark;
			}
		}
		}			
	}
}

/* !-- Dropdowns ----------------------------------- */

/* !Universal Dropdown Styles */

.dropdown {
	position: relative;
	@include pie-clearfix;
	overflow: hidden;
	}

.dropdown-trigger,
.dropdown-trigger-hover {
	position: relative;
	z-index: 101;
	cursor: pointer;
	}

.dropdown-menu {
	@include trans(.2s, opacity, ease-in);
	@include opacity(0);
	position: absolute;
	z-index: 100;
	}

.dropdown-active {
	.dropdown-menu {
		@include opacity(1);
		}
	&.dropdown {
		overflow: visible;
		}
	}	


/* !-- Tooltips ----------------------------------- */

/* !Universal Tooltip / Popover Styles */

.tip-trigger,
.pop-trigger {
	position: relative;
	}

.tooltip,
.popover {
	@include trans(.2s, opacity, ease-in);
	@include opacity(0);
	z-index: 900;
	position: absolute;
	visibility: hidden;
	text-align: center;
	display: block;
	}

// Make tooltips and popovers appear on hover
.tip-active .tooltip,
.pop-active .popover {
	@include opacity(.95);
	visibility: visible;
	}

.triangles,
.tooltip-triangles,
.popover-triangles {
	content: '\0020';
	position: absolute;
	border-top-width: 0;
	z-index: 9999;
	width: 0;
	height: 0;
	}

/* !Tooltip Pointer */

.tooltip:after {
	@extend .tooltip-triangles;
	border-left: 5px solid transparent; 
	border-right: 5px solid transparent;
	border-bottom: 5px solid rgba(0, 0, 0, 0.9);
	top: -4px;
	left: 48%;
	}

/* !Popover Pointer */

.popover:before {
	@extend .triangles;
	border-left: 6px solid transparent; 
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgba(0, 0, 0, 0.9);
	top: -8px;
	left: 10%;
	}	

/* Tooltip Aesthetics */

$tooltip-box-padding: 4px 8px 5px !default;

@mixin tooltip-box($tooltip-box-padding) {
	padding: #{$tooltip-box-padding};
	}

.tooltip {	
	@include tooltip-box;	
	}

/* Popover Aesthetics */

$popover-box-padding: 10px !default;

@mixin popover-box {
	padding: #{$popover-box-padding};
	}

.popover {
	@include popover-box;
	}


/* !-- Modals ----------------------------------- */

// Overrides default modal overlay style
.simplemodal-overlay {
	
	}

// Base modal box styles
@mixin modal-box {

	}

// Base modal style, hidden by default
.modal {
	display: none;
	}


/* ---------------------------------------------- */

/*	Tabs & Pills						 		  */ 

/* ---------------------------------------------- */

.tabs, .pills {
	@include pie-clearfix;	

	> li {
		float: left;
		}
	> li > a {
		@include trans;
		display: block;
		}
	} // end .tabs, .pills

.tabs {
	
	> li {

		}
	> li > a {

		}
	.active > a, .active > a:hover,
	a.active, a.active:hover {

		}

	} // end tabs


/* !-- Pills ----------------------------------- */

.pills {
	> li > a {

		}
	a.active, a.active:hover,
	.active > a, .active > a:hover {

		}
	// Stack pills vertically 
	&.vert,	&.vertical,
	&-vert,	&-vertical {
		float: none;
		}
	} // end pills



// Universal code to show / hide panes
.tab-content > .tab-pane,
.pill-content > .pill-pane,
.tab-content > .pane {
	display: none;
	}
.tab-content > .active, .pill-content > .active {
	display: block;
	}


/* ---------------------------------------------- */

/*	Tables						 			      */ 

/* ---------------------------------------------- */

// Base table style mixins
@mixin table-basic {
	width: 100%;
	border-collapse: collapse;

	th, td {

		}
	th {

		}
	td {

		}
	}

@mixin table-condensed {
	th, td {
		// Reduce padding on these elements to condense
		}
	}

@mixin table-bordered {
	border: 1px solid #ddd;
	border-collapse: separate;
	*border-collapse: collapse; /* IE7, collapse table to remove spacing */

	th + th, 
	td + td,
	th + td {
		border-left: 1px solid #ddd;
		}
	}

@mixin table-zebra {
	tbody tr:nth-child(odd) td, .zebra-striped tbody tr:nth-child(odd) th {
	  background-color: #f9f9f9;
		}
	tbody tr:hover td, .zebra-striped tbody tr:hover th {
	  background-color: #f5f5f5;
		}
	}


// Base table style classes
.basic-table, .table-basic {
	@include table-basic; 
	
	&.condensed {
		@include table-condensed;
		}
	&.bordered {
		@include table-bordered;
		}
	&.zebra {
		@include table-bordered;
		}
	} // end .basic-table

.condensed-table, .table-condensed {
	@include table-basic;
	@include table-condensed;
	}

.bordered-table, .table-bordered {
	@include table-basic;
	@include table-bordered;
	} // end bordered-table

.zebra-table, .table-zebra {
	@include table-basic;
	@include table-zebra;	
	}


/* ---------------------------------------------- */

/*	Forms						 				  */ 

/* ---------------------------------------------- */

// Universal Form Vars
$form-size: med !default;

// Universal Form Sizes	
@mixin form-size-small {
	$form-h: 24px;

	.form-row {
		input[type=text],
		select,
		textarea,
		.uneditable-input,
		.add-on {
			font-size: 11px;
			padding: 4px;
			height: $form-h;
			}
		> label {
			font-size: 11px;
			}
		// Size & spacing for lists 
		.inputs-list,
		.list-inputs {
			label {
				font-size: 11px;
				}
			}
		} // end .form-row

	// Match button and form heights
	.btn, .button, 
	.btn-lt, .btn-light, 
	.btn-dark, .btn-dk {
		height: $form-h;
		}

	// Spacing for sidesaddle label 
	&.sidesaddle .form-row > label {
		margin-top: 3px;
		}
	}

@mixin form-size-med {
	$form-h: 28px;

	.form-row {
		input[type=text],
		select,
		textarea,
		.uneditable-input,
		.add-on {
			font-size: 13px;
			padding: 5px;
			height: $form-h;
			}
		> label {
			font-size: 13px;
			line-height: 18px;
			}
		// Size & spacing for lists 
		.inputs-list,
		.list-inputs {
			label {
				font-size: 13px;
				}
			}
		} // end .form-row

	// Match button and form heights
	.btn, .button, 
	.btn-lt, .btn-light, 
	.btn-dark, .btn-dk {
		height: $form-h;
		}

	// Spacing for sidesaddle label 
	&.sidesaddle .form-row > label {
		margin-top: 4px;
		}
	}

@mixin form-size-large {
	$form-h: 35px;

	.form-row {
		input[type=text],
		select,
		textarea,
		.uneditable-input,
		.add-on {
			font-size: 15px;
			padding: 6px;
			height: $form-h;
			}
		> label {
			font-size: 15px;
			line-height: 18px;
			margin-bottom: 6px;
			// Spacing for sidesaddle label 
			.sidesaddle & {
				margin-top: 6px;
				}
			}
		// Size & spacing for lists 
		.inputs-list,
		.list-inputs {
			label {
				font-size: 15px;
				}
			// Line up the check/radio
			input[type=checkbox],
			input[type=radio] {
				margin-top: 4px;				
				}
			> li {
				margin-bottom: 4px;
				}
			}
		} // end .form-row

	// Match button and form heights
	.btn, .button, 
	.btn-lt, .btn-light, 
	.btn-dark, .btn-dk {
		height: $form-h;
		}

	// Spacing for sidesaddle label 
	&.sidesaddle .form-row > label {
		margin-top: 7px;
		}
	}

$sidesaddle-width: 130px; //Default width for sidesaddle labels

@mixin sidesaddle {
	// Float the label left	
	.form-row > label {
		float: left;
		width: $sidesaddle-width;
		text-align: right;
		} 
	// Shift over the inside div to align all label's relevant content
	.input,
	.legend-h,
	.input-prepend,
	.input-append {
		margin-left: $sidesaddle-width + 20px;
		}
	.form-actions {
		padding-left: $sidesaddle-width + 20px; 
		}
	} // end sidesaddle

	
/* !-- Universal Form Styles ----------------------------------- */

.form-basic {
	@include pie-clearfix;
	margin-bottom: 18px;

	// Sidesaddle labels
	&.sidesaddle {
		@include sidesaddle;
		}
	
	.form-row {
		// Make multiple select elements height not fixed
		select[multiple] {
			height: inherit;
			background-color: #fff;
			}
		// Don't fix the height of text areas, either
		textarea {
			height: auto;
			}
		}
	} // end form-basic

// Spacing for standard fieldset
fieldset {

	}

// Set spacing below form row
.form-row {
	@include pie-clearfix;
	
	// Label default styles (others set by mixin). Must follow .form-row pattern
	> label {

		}
	}

// Input defaults. 
input[type=text],
textarea,
select,
.uneditable-input {

	}

// mini reset for non-html5 file types
input[type=checkbox], 
input[type=radio] {
	width: auto;
	height: auto;
	padding: 0;
	margin: 3px 0;
	*margin-top: 0;
	/* IE6-7 */
	line-height: normal;
	border: none;
	}
input[type=file] {
	background-color: #ffffff;
	padding: initial;
	border: initial;
	line-height: initial;
	box-shadow: none;
	}
input[type=button], input[type=reset], input[type=submit],
input.button, input.reset, input.submit {
	width: auto;
	height: auto;
	}
select, input[type=file], input.file {
	height: 27px;
	*height: auto;
	*margin-top: 4px;
	/* For IE7, add top margin to align select with labels */
	}

// Focus states
input[type=text], textarea {

	&:focus, &:focus {

		}
	}
input[type=file]:focus, input[type=checkbox]:focus, select:focus {

	}

// Make cursor a pointer when hovering over check/radios
input[type=checkbox], input[type=radio] {
	cursor: pointer;
	}

// For text that needs to appear as an input but should not be an input
.uneditable-input {
	cursor: not-allowed;
	}

// Placeholder text gets special styles (can't be bundled together)
:-moz-placeholder {
	color: #bfbfbf;
	}
::-webkit-input-placeholder {
	color: #bfbfbf;
	}


/* !-- Form Sizes ----------------------------------- */

// Reference the form mixins above .form-basic

// Mixin used to create any form size
@mixin form($form-size) {
	@extend .form-basic;

	// Define form sizes & definitions
	@if $form-size == "s" or $form-size == "small" {
		@include form-size-small;
		}
	@if $form-size == "m" or $form-size == "med" or $form-size == "medium" or $form-size == "reg" {
		@include form-size-med;
		}
	@if $form-size == "l" or $form-size == "large" {
		@include form-size-large;
		}
		
	} // end form


// Classes for various form sizes
.form-s, .form-small {
	@include form(small);
	}

.form, .form-m, .form-med {
	@include form(med);
	}

.form-l, .form-large {
	@include form(large);
	}			

	

/* !-- Form States ----------------------------------- */

// Disabled
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	cursor: not-allowed;
	}

.disabled {

	}

// Error states
.error {
	$error-primary: #b94a48;
	> label, 
	.help-block, 
	.help-inline {
		color: $error-primary;
		}
	input, input[type=text], textarea {
		color: $error-primary;
		border-color: #ee5f5b;
		&:focus, 
		&:focus {
			border-color: #e9322d;
			@include box-shadow(#f8b9b7 0 0 6px);
			}
		}
	.input-prepend .add-on, 
	.input-append .add-on {
		color: $error-primary;
		background-color: #fce6e6;
		border-color: $error-primary;
	}
} // end error

// Warning states
.warning {
	$warning-primary: #c09853;
	> label, 
	.help-block, 
	.help-inline {
		color: $warning-primary;
		}
	input, input[type=text], textarea {
		color: #c09853;
		border-color: $warning-primary;
		&:focus, 
		&:focus {
			border-color: #be9a3f;
			@include box-shadow(#e5d6b1 0 0 6px);
			}
		}
	.input-prepend .add-on, 
	.input-append .add-on {
		color: $warning-primary;
		background-color: #d2b877;
		border-color: $warning-primary;
		}
} // end warning

// Success states
.success {
	$success-primary: #468847;
	> label, 
	.help-block, 
	.help-inline {
		color: $success-primary;
		}
	input, input[type=text], textarea {
		color: $success-primary;
		border-color: #57a957;
		&:focus, 
		&:focus {
			border-color: #458845;
			@include box-shadow( #9acc9a 0 0 6px);
			}
		}
	.input-prepend .add-on, 
	.input-append .add-on {
		color: $success-primary;
		background-color: #bcddbc;
		border-color: $success-primary;
		}
	} // end success


/* !-- Inline & List Inputs ----------------------------------- */

// Set color for extraneous text in inline inputs
.inline-inputs,
.inputs-inline {

	// Default width for inline inputs
	input[type=text], select {
		width: 15%;	
		}
	.help-block {
		padding: 0 2px 0 1px;
		}
	}
	
// Input Lists (for multiple options)
.inputs-list,
.list-inputs {
	margin: 0 0 5px;
	width: 100%;

	> li {

		}
	label {
		margin-left: 20px;
		}
	label strong {

		}
	label small {

		}
	.inputs-list,
	.list-inputs {

		}
	&:first-child {

		}
	li + li {

		}
	// Float the check / radio to left of label 
	input[type=radio],
	input[type=checkbox] {
		margin-bottom: 0;
		margin-left: -20px;
		float: left;
		}
	} // end inputs-list
	

/* !-- Help Text ----------------------------------- */

.help-inline, .help-block {

	}
.help-inline {

	}
.help-block {
	display: block;
	max-width: 600px;
	}


/* !-- Prepends & Appends ----------------------------------- */

.input-prepend, .input-append {
	@include pie-clearfix; 
	
	.add-on {
		position: relative;
		z-index: 2;
		float: left;
		display: block;
		width: auto;
		min-width: 16px;
		}
	.active {

		}
	} // end prepend, append

.input-prepend {
	.add-on {

		}
	}

// Reverse position for appends
.input-append { 
	input {
		float: left;
		}
	.add-on {
		}
	}


/* !-- Form Headlines ----------------------------------- */

.legend-h {

	}

/* !-- Form Buttons ----------------------------------- */

// Box surrounding submit / form action buttons 
.form-actions {

	// Move secondary action further from sight line
	.secondary-action {
		float: right;
		}
	}

/* !-- Form Widths ----------------------------------- */

.form-basic {
	.span-5 {
		width: 5%;
		}
	.span-10 {
		width: 10%;
		}
	.span-15 {
		width: 15%;
		}
	.span-20 {
		width: 20%;
		}
	.span-25 {
		width: 25%;
		}
	.span-30 {
		width: 30%;
		}
	.span-35 {
		width: 35%;
		}
	.span-40 {
		width: 40%;
		}
	.span-45 {
		width: 45%;
		}
	.span-50 {
		width: 50%;
		}
	.span-55 {
		width: 55%;
		}
	.span-60 {
		width: 60%;
		}
	.span-65 {
		width: 65%;
		}
	.span-70 {
		width: 70%;
		}
	.span-75 {
		width: 75%;
		}
	.span-80 {
		width: 80%;
		}
	.span-85 {
		width: 85%;
		}
	.span-90 {
		width: 90%;
		}
	.span-95 {
		width: 95%;
		}
	.span-100 {
		width: 100%;
		}
}





