<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>API Documentation</title>

    <link href="../stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../stylesheets/print.css" rel="stylesheet" type="text/css" media="print" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.scrollto/2.1.0/jquery.scrollTo.min.js"></script>
      <script src="../javascripts/all_nosearch.js" type="text/javascript"></script>

  </head>

  <body class="includes includes_timberpost">
    <a href="#" id="nav-button">
      <span>
        NAV
        <img src="../images/navbar.png" />
      </span>
    </a>
    <div class="tocify-wrapper">
      <div class="logo-wrapper">
        <img src="../images/timber-logo-icon.svg" />
      </div>
      <div id="toc">
      </div>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <h1 id="timberpost">TimberPost</h1>

<p>This is the object you use to access or extend WordPress posts. Think of it as Timber&rsquo;s (more accessible) version of WP_Post. This is used throughout Timber to represent posts retrieved from WordPress making them available to Twig templates. See the PHP and Twig examples for an example of what it&rsquo;s like to work with this object in your code.</p>

<h6 id="php">PHP</h6>
<pre class="highlight php"><code><span class="cp">&lt;?php</span>
<span class="o">&lt;?</span><span class="nx">php</span>
<span class="c1">// single.php, see connected twig example
</span><span class="nv">$context</span> <span class="o">=</span> <span class="nx">Timber</span><span class="o">::</span><span class="na">get_context</span><span class="p">();</span>
<span class="nv">$context</span><span class="p">[</span><span class="s1">'post'</span><span class="p">]</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">TimberPost</span><span class="p">();</span> <span class="c1">// It's a new TimberPost object, but an existing post from WordPress.
</span><span class="nx">Timber</span><span class="o">::</span><span class="na">render</span><span class="p">(</span><span class="s1">'single.twig'</span><span class="p">,</span> <span class="nv">$context</span><span class="p">);</span>
<span class="cp">?&gt;</span>
</code></pre>

<h6 id="twig">Twig</h6>
<pre class="highlight plaintext"><code>{# single.twig #}
&lt;article&gt;
    &lt;h1 class="headline"&gt;{{post.title}}&lt;/h1&gt;
    &lt;div class="body"&gt;
        {{post.content}}
    &lt;/div&gt;
&lt;/article&gt;
</code></pre>

<h6 id="html">HTML</h6>
<pre class="highlight html"><code><span class="nt">&lt;article&gt;</span>
    <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">"headline"</span><span class="nt">&gt;</span>The Empire Strikes Back<span class="nt">&lt;/h1&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"body"</span><span class="nt">&gt;</span>
        It is a dark time for the Rebellion. Although the Death Star has been destroyed, Imperial troops have driven the Rebel forces from their hidden base and pursued them across the galaxy.
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/article&gt;</span>
</code></pre>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td><a href="#author">author</a></td>
<td>\TimberUser/bool</td>
<td>A TimberUser object if found, false if not</td>
</tr>
<tr>
<td><a href="#categories">categories</a></td>
<td>array</td>
<td>of TimberTerms</td>
</tr>
<tr>
<td><a href="#category">category</a></td>
<td>\TimberTerm/null</td>
<td></td>
</tr>
<tr>
<td><a href="#children">children</a></td>
<td>array</td>
<td></td>
</tr>
<tr>
<td>class</td>
<td>string</td>
<td>$class stores the CSS classes for the post (ex: &ldquo;post post-type-book post-123&rdquo;)</td>
</tr>
<tr>
<td><a href="#comments">comments</a></td>
<td>bool/array</td>
<td></td>
</tr>
<tr>
<td><a href="#content">content</a></td>
<td>string</td>
<td></td>
</tr>
<tr>
<td><a href="#date">date</a></td>
<td>string</td>
<td></td>
</tr>
<tr>
<td><a href="#format">format</a></td>
<td>mixed</td>
<td></td>
</tr>
<tr>
<td><a href="#get_preview">get_preview</a></td>
<td>string</td>
<td>of the post preview</td>
</tr>
<tr>
<td>id</td>
<td>string</td>
<td>$id the numeric WordPress id of a post</td>
</tr>
<tr>
<td><a href="#link">link</a></td>
<td>string</td>
<td>ex: http://example.org/2015/07/my-awesome-post</td>
</tr>
<tr>
<td><a href="#next">next</a></td>
<td>mixed</td>
<td></td>
</tr>
<tr>
<td><a href="#parent">parent</a></td>
<td>bool/<a href="#class-timberpost">\TimberPost</a></td>
<td></td>
</tr>
<tr>
<td><a href="#path">path</a></td>
<td>string</td>
<td></td>
</tr>
<tr>
<td>post_status</td>
<td>string</td>
<td>$post_status    the status of a post (&ldquo;draft&rdquo;, &ldquo;publish&rdquo;, etc.)</td>
</tr>
<tr>
<td>post_type</td>
<td>string</td>
<td>$post_type      the name of the post type, this is the machine name (so &ldquo;my_custom_post_type&rdquo; as opposed to &ldquo;My Custom Post Type&rdquo;)</td>
</tr>
<tr>
<td><a href="#prev">prev</a></td>
<td>mixed</td>
<td></td>
</tr>
<tr>
<td>slug</td>
<td>string</td>
<td>$slug       the URL-safe slug, this corresponds to the poorly-named &ldquo;post_name&rdquo; in the WP database, ex: &ldquo;hello-world&rdquo;</td>
</tr>
<tr>
<td><a href="#tags">tags</a></td>
<td>array</td>
<td></td>
</tr>
<tr>
<td><a href="#terms">terms</a></td>
<td>array</td>
<td></td>
</tr>
<tr>
<td><a href="#thumbnail">thumbnail</a></td>
<td>\TimberImage/null</td>
<td>of your thumbnail</td>
</tr>
<tr>
<td><a href="#time">time</a></td>
<td>string</td>
<td></td>
</tr>
<tr>
<td><a href="#title">title</a></td>
<td>string</td>
<td></td>
</tr>
</tbody></table>

<h2 id="__construct">__construct</h2>

<p><code class="prettyprint">__construct( mixed $pid=null )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">void</code> </p>

<p>If you send the constructor nothing it will try to figure out the current post id based on being inside The_Loop</p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$pid</td>
<td>mixed</td>
<td></td>
</tr>
</tbody></table>

<h6 id="php">PHP</h6>
<pre class="highlight php"><code><span class="cp">&lt;?php</span>
    <span class="nv">$post</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">TimberPost</span><span class="p">();</span>
    <span class="nv">$other_post</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">TimberPost</span><span class="p">(</span><span class="nv">$random_post_id</span><span class="p">);</span>
</code></pre>

<h2 id="__tostring">__toString</h2>

<p><code class="prettyprint">__toString( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">string</code> </p>

<p>Outputs the title of the post if you do something like <code class="prettyprint">&lt;h1&gt;{{post}}&lt;/h1&gt;</code></p>

<h2 id="author">author</h2>

<p><code class="prettyprint">author( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">\TimberUser/bool</code> A TimberUser object if found, false if not</p>

<p>Return the author of a post</p>

<h6 id="twig">Twig</h6>
<pre class="highlight plaintext"><code>    &lt;h1&gt;{{post.title}}&lt;/h1&gt;
    &lt;p class="byline"&gt;
        &lt;a href="{{post.author.link}}"&gt;{{post.author.name}}&lt;/a&gt;
    &lt;/p&gt;
</code></pre>

<h2 id="categories">categories</h2>

<p><code class="prettyprint">categories( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">array</code> of TimberTerms</p>

<p>Get the categoires on a particular post</p>

<h2 id="category">category</h2>

<p><code class="prettyprint">category( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">\TimberTerm/null</code> </p>

<p>Returns a category attached to a post</p>

<h2 id="children">children</h2>

<p><code class="prettyprint">children( string $post_type=&quot;any&quot;, bool/string/bool $childPostClass=false )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">array</code> </p>

<p>Returns an array of children on the post as TimberPosts (or other claass as you define).</p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$post_type</td>
<td>string</td>
<td><em>optional</em> use to find children of a particular post type (attachment vs. page for example). You might want to restrict to certain types of children in case other stuff gets all mucked in there. You can use &lsquo;parent&rsquo; to use the parent&rsquo;s post type</td>
</tr>
<tr>
<td>$childPostClass</td>
<td>bool/string/bool</td>
<td><em>optional</em> a custom post class (ex: &#39;MyTimberPost&rsquo;) to return the objects as. By default (false) it will use TimberPost::$post_class value.</td>
</tr>
</tbody></table>

<h6 id="twig">Twig</h6>
<pre class="highlight plaintext"><code>    {% if post.children %}
        Here are the child pages:
        {% for child in page.children %}
            &lt;a href="{{ child.link }}"&gt;{{ child.title }}&lt;/a&gt;
        {% endfor %}
    {% endif %}
</code></pre>

<h2 id="comments">comments</h2>

<p><code class="prettyprint">comments( int $count, string $order=&quot;wp&quot;, string $type=&quot;comment&quot;, string $status=&quot;approve&quot;, string $CommentClass=&quot;TimberComment&quot; )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">bool/array</code> </p>

<p>Gets the comments on a TimberPost and returns them as an array of <a href="#TimberComment">TimberComments</a> (or whatever comment class you set).</p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$count</td>
<td>int</td>
<td>Set the number of comments you want to get. <code class="prettyprint">0</code> is analogous to &ldquo;all&rdquo;</td>
</tr>
<tr>
<td>$order</td>
<td>string</td>
<td>use ordering set in WordPress admin, or a different scheme</td>
</tr>
<tr>
<td>$type</td>
<td>string</td>
<td>For when other plugins use the comments table for their own special purposes, might be set to &#39;liveblog&rsquo; or other depending on what&rsquo;s stored in yr comments table</td>
</tr>
<tr>
<td>$status</td>
<td>string</td>
<td>Could be &#39;pending&rsquo;, etc.</td>
</tr>
<tr>
<td>$CommentClass</td>
<td>string</td>
<td>What class to use when returning Comment objects. As you become a Timber pro, you might find yourself extending TimberComment for your site or app (obviously, totally optional)</td>
</tr>
</tbody></table>

<h6 id="twig">Twig</h6>
<pre class="highlight plaintext"><code>    {# single.twig #}
    &lt;h4&gt;Comments:&lt;/h4&gt;
    {% for comment in post.comments %}
        &lt;div class="comment-{{comment.ID}} comment-order-{{loop.index}}"&gt;
            &lt;p&gt;{{comment.author.name}} said:&lt;/p&gt;
            &lt;p&gt;{{comment.content}}&lt;/p&gt;
        &lt;/div&gt;
    {% endfor %}
</code></pre>

<h2 id="content">content</h2>

<p><code class="prettyprint">content( int $page )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">string</code> </p>

<p>Gets the actual content of a WP Post, as opposed to post_content this will run the hooks/filters attached to the_content. \This guy will return your posts content with WordPress filters run on it (like for shortcodes and wpautop).</p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$page</td>
<td>int</td>
<td></td>
</tr>
</tbody></table>

<h6 id="twig">Twig</h6>
<pre class="highlight plaintext"><code>    &lt;div class="article"&gt;
        &lt;h2&gt;{{post.title}}&lt;/h2&gt;
        &lt;div class="content"&gt;{{ post.content }}&lt;/div&gt;
    &lt;/div&gt;
</code></pre>

<h2 id="date">date</h2>

<p><code class="prettyprint">date( string $date_format=&quot;&quot; )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">string</code> </p>

<p>Get the date to use in your template!</p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$date_format</td>
<td>string</td>
<td></td>
</tr>
</tbody></table>

<h6 id="twig">Twig</h6>
<pre class="highlight plaintext"><code>    Published on {{ post.date }} // Uses WP's formatting set in Admin
    OR
    Published on {{ post.date | date('F jS') }} // Jan 12th
</code></pre>

<h6 id="html">HTML</h6>
<pre class="highlight html"><code>    Published on January 12, 2015
    OR
    Published on Jan 12th
</code></pre>

<h2 id="edit_link">edit_link</h2>

<p><code class="prettyprint">edit_link( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">bool/string</code> </p>

<h2 id="format">format</h2>

<p><code class="prettyprint">format( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">mixed</code> </p>

<h2 id="get_comment_count">get_comment_count</h2>

<p><code class="prettyprint">get_comment_count( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">int</code> the number of comments on a post</p>

<h2 id="get_content">get_content</h2>

<p><code class="prettyprint">get_content( int $len, int $page )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">string</code> </p>

<p>Displays the content of the post with filters, shortcodes and wpautop applied</p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$len</td>
<td>int</td>
<td></td>
</tr>
<tr>
<td>$page</td>
<td>int</td>
<td></td>
</tr>
</tbody></table>

<h6 id="twig">Twig</h6>
<pre class="highlight plaintext"><code>    &lt;div class="article-text"&gt;{{post.get_content}}&lt;/div&gt;
</code></pre>

<h6 id="html">HTML</h6>
<pre class="highlight html"><code>    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"article-text"</span><span class="nt">&gt;&lt;p&gt;</span>Blah blah blah<span class="nt">&lt;/p&gt;&lt;p&gt;</span>More blah blah blah.<span class="nt">&lt;/p&gt;&lt;/div&gt;</span>
</code></pre>

<h2 id="get_field">get_field</h2>

<p><code class="prettyprint">get_field( string $field_name )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">mixed</code> </p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$field_name</td>
<td>string</td>
<td></td>
</tr>
</tbody></table>

<h2 id="get_image">get_image</h2>

<p><code class="prettyprint">get_image( string $field )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">\TimberImage</code> </p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$field</td>
<td>string</td>
<td></td>
</tr>
</tbody></table>

<h2 id="get_method_values">get_method_values</h2>

<p><code class="prettyprint">get_method_values( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">array</code> </p>

<h2 id="get_paged_content">get_paged_content</h2>

<p><code class="prettyprint">get_paged_content( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">string</code> </p>

<h2 id="get_pagination">get_pagination</h2>

<p><code class="prettyprint">get_pagination( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">array</code> </p>

<p>Get a data array of pagination so you can navigate to the previous/next for a paginated post</p>

<h2 id="get_post_type">get_post_type</h2>

<p><code class="prettyprint">get_post_type( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">mixed</code> </p>

<p>Here is my summary</p>

<h6 id="twig">Twig</h6>
<pre class="highlight plaintext"><code>    This post is from &lt;span&gt;{{ post.get_post_type.labels.plural }}&lt;/span&gt;
</code></pre>

<h6 id="html">HTML</h6>
<pre class="highlight html"><code>    This post is from <span class="nt">&lt;span&gt;</span>Recipes<span class="nt">&lt;/span&gt;</span>
</code></pre>

<h2 id="get_preview">get_preview</h2>

<p><code class="prettyprint">get_preview( mixed/int $len=50, bool $force=false, string $readmore=&quot;Read More&quot;, bool $strip=true, string $end=&quot;&amp;hellip;&quot; )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">string</code> of the post preview</p>

<p>get a preview of your post, if you have an excerpt it will use that, otherwise it will pull from the post_content. If there&rsquo;s a &lt;!&ndash; more &ndash;&gt; tag it will use that to mark where to pull through.</p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$len</td>
<td>mixed/int</td>
<td>The number of words that WP should use to make the tease. (Isn&rsquo;t this better than <a href="http://wordpress.org/support/topic/changing-the-default-length-of-the_excerpt-1?replies=14">this mess</a>?). If you&rsquo;ve set a post_excerpt on a post, we&rsquo;ll use that for the preview text; otherwise the first X words of the post_content</td>
</tr>
<tr>
<td>$force</td>
<td>bool</td>
<td>What happens if your custom post excerpt is longer then the length requested? By default (<code class="prettyprint">$force = false</code>) it will use the full <code class="prettyprint">post_excerpt</code>. However, you can set this to true to <em>force</em> your excerpt to be of the desired length</td>
</tr>
<tr>
<td>$readmore</td>
<td>string</td>
<td>The text you want to use on the &#39;readmore&rsquo; link</td>
</tr>
<tr>
<td>$strip</td>
<td>bool</td>
<td>Strip tags? yes or no. tell me!</td>
</tr>
<tr>
<td>$end</td>
<td>string</td>
<td>The text to end the preview with (defaults to &hellip;)</td>
</tr>
</tbody></table>

<h6 id="twig">Twig</h6>
<pre class="highlight plaintext"><code>    &lt;p&gt;{{post.get_preview(50)}}&lt;/p&gt;
</code></pre>

<h2 id="has_term">has_term</h2>

<p><code class="prettyprint">has_term( string/int $term_name_or_id, string $taxonomy=&quot;all&quot; )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">bool</code> </p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$term_name_or_id</td>
<td>string/int</td>
<td></td>
</tr>
<tr>
<td>$taxonomy</td>
<td>string</td>
<td></td>
</tr>
</tbody></table>

<h2 id="import_field">import_field</h2>

<p><code class="prettyprint">import_field( string $field_name )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">void</code> </p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$field_name</td>
<td>string</td>
<td></td>
</tr>
</tbody></table>

<h2 id="link">link</h2>

<p><code class="prettyprint">link( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">string</code> ex: http://example.org/2015/07/my-awesome-post</p>

<p>get the permalink for a post object</p>

<h6 id="twig">Twig</h6>
<pre class="highlight plaintext"><code>    &lt;a href="{{post.link}}"&gt;Read my post&lt;/a&gt;
</code></pre>

<h2 id="meta">meta</h2>

<p><code class="prettyprint">meta( mixed/string $field_name=null )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">mixed</code> </p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$field_name</td>
<td>mixed/string</td>
<td></td>
</tr>
</tbody></table>

<h2 id="modified_author">modified_author</h2>

<p><code class="prettyprint">modified_author( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">\TimberUser/bool</code> A TimberUser object if found, false if not</p>

<p>Get the author (WordPress user) who last modified the post</p>

<h6 id="twig">Twig</h6>
<pre class="highlight plaintext"><code>    Last updated by {{ post.modified_author.name }}
</code></pre>

<h6 id="html">HTML</h6>
<pre class="highlight html"><code>    Last updated by Harper Lee
</code></pre>

<h2 id="modified_date">modified_date</h2>

<p><code class="prettyprint">modified_date( string $date_format=&quot;&quot; )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">string</code> </p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$date_format</td>
<td>string</td>
<td></td>
</tr>
</tbody></table>

<h2 id="modified_time">modified_time</h2>

<p><code class="prettyprint">modified_time( string $time_format=&quot;&quot; )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">string</code> </p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$time_format</td>
<td>string</td>
<td></td>
</tr>
</tbody></table>

<h2 id="name">name</h2>

<p><code class="prettyprint">name( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">string</code> </p>

<h2 id="next">next</h2>

<p><code class="prettyprint">next( bool $in_same_cat=false )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">mixed</code> </p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$in_same_cat</td>
<td>bool</td>
<td></td>
</tr>
</tbody></table>

<h2 id="paged_content">paged_content</h2>

<p><code class="prettyprint">paged_content( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">string</code> </p>

<h2 id="pagination">pagination</h2>

<p><code class="prettyprint">pagination( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">array</code> </p>

<h2 id="parent">parent</h2>

<p><code class="prettyprint">parent( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">bool/[\TimberPost](#class-timberpost)</code> </p>

<p>Gets the parent (if one exists) from a post as a TimberPost object (or whatever is set in TimberPost::$PostClass)</p>

<h6 id="twig">Twig</h6>
<pre class="highlight plaintext"><code>    Parent page: &lt;a href="{{ post.parent.link }}"&gt;{{ post.parent.title }}&lt;/a&gt;
</code></pre>

<h2 id="path">path</h2>

<p><code class="prettyprint">path( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">string</code> </p>

<p>Gets the relative path of a WP Post, so while link() will return http://example.org/2015/07/my-cool-post this will return just /2015/07/my-cool-post</p>

<h6 id="twig">Twig</h6>
<pre class="highlight plaintext"><code>    &lt;a href="{{post.path}}"&gt;{{post.title}}&lt;/a&gt;
</code></pre>

<h2 id="permalink"><strike>permalink</strike></h2>

<p><strong>DEPRECATED</strong> 0.20.0 use link() instead</p>

<p><code class="prettyprint">permalink( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">string</code> </p>

<h2 id="prev">prev</h2>

<p><code class="prettyprint">prev( bool $in_same_cat=false )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">mixed</code> </p>

<p>Get the previous post in a set</p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$in_same_cat</td>
<td>bool</td>
<td></td>
</tr>
</tbody></table>

<h6 id="twig">Twig</h6>
<pre class="highlight plaintext"><code>    &lt;h4&gt;Prior Entry:&lt;/h4&gt;
    &lt;h3&gt;{{post.prev.title}}&lt;/h3&gt;
    &lt;p&gt;{{post.prev.get_preview(25)}}&lt;/p&gt;
</code></pre>

<h2 id="tags">tags</h2>

<p><code class="prettyprint">tags( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">array</code> </p>

<p>Gets the tags on a post, uses WP&rsquo;s post_tag taxonomy</p>

<h2 id="terms">terms</h2>

<p><code class="prettyprint">terms( string/string/array $tax=&quot;&quot;, bool $merge=true )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">array</code> </p>

<p>Get the terms associated with the post This goes across all taxonomies by default</p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$tax</td>
<td>string/string/array</td>
<td>What taxonom(y</td>
</tr>
<tr>
<td>$merge</td>
<td>bool</td>
<td>Should the resulting array be one big one (true)? Or should it be an array of sub-arrays for each taxonomy (false)?</td>
</tr>
</tbody></table>

<h2 id="thumbnail">thumbnail</h2>

<p><code class="prettyprint">thumbnail( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">\TimberImage/null</code> of your thumbnail</p>

<p>get the featured image as a TimberImage</p>

<h6 id="twig">Twig</h6>
<pre class="highlight plaintext"><code>    &lt;img src="{{post.thumbnail.src}}" /&gt;
</code></pre>

<h2 id="time">time</h2>

<p><code class="prettyprint">time( string $time_format=&quot;&quot; )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">string</code> </p>

<p>Get the time to use in your template</p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$time_format</td>
<td>string</td>
<td></td>
</tr>
</tbody></table>

<h6 id="twig">Twig</h6>
<pre class="highlight plaintext"><code>    Published at {{ post.time }} // Uses WP's formatting set in Admin
    OR
    Published at {{ post.time | time('G:i') }} // 13:25
</code></pre>

<h6 id="html">HTML</h6>
<pre class="highlight html"><code>    Published at 1:25 pm
    OR
    Published at 13:25
</code></pre>

<h2 id="title">title</h2>

<p><code class="prettyprint">title( )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">string</code> </p>

<p>Returns the processed title to be used in templates. This returns the title of the post after WP&rsquo;s filters have run. This is analogous to <code class="prettyprint">the_title()</code> in standard WP template tags.</p>

<h6 id="twig">Twig</h6>
<pre class="highlight plaintext"><code>    &lt;h1&gt;{{ post.title }}&lt;/h1&gt;
</code></pre>

<h2 id="update">update</h2>

<p><code class="prettyprint">update( string $field, mixed $value )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">void</code> </p>

<p>updates the post_meta of the current object with the given value</p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$field</td>
<td>string</td>
<td></td>
</tr>
<tr>
<td>$value</td>
<td>mixed</td>
<td></td>
</tr>
</tbody></table>

<h2 id="get_wp_link_page">get_wp_link_page</h2>

<p><code class="prettyprint">get_wp_link_page( int $i )</code></p>

<p><strong>returns:</strong> <code class="prettyprint">string</code> </p>

<table><thead>
<tr>
<th>Name</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead><tbody>
<tr>
<td>$i</td>
<td>int</td>
<td></td>
</tr>
</tbody></table>

<h3 id="class-timberpost">Class: TimberPost</h3>

<blockquote>
<p>This is the object you use to access or extend WordPress posts. Think of it as Timber&rsquo;s (more accessible) version of WP_Post. This is used throughout Timber to represent posts retrieved from WordPress making them available to Twig templates. See the PHP and Twig examples for an example of what it&rsquo;s like to work with this object in your code.</p>
</blockquote>

<h6 id="example">Example</h6>

<h6 id="php">PHP</h6>
<pre class="highlight php"><code><span class="cp">&lt;?php</span>
<span class="o">&lt;?</span><span class="nx">php</span>
<span class="c1">// single.php, see connected twig example
</span><span class="nv">$context</span> <span class="o">=</span> <span class="nx">Timber</span><span class="o">::</span><span class="na">get_context</span><span class="p">();</span>
<span class="nv">$context</span><span class="p">[</span><span class="s1">'post'</span><span class="p">]</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">TimberPost</span><span class="p">();</span> <span class="c1">// It's a new TimberPost object, but an existing post from WordPress.
</span><span class="nx">Timber</span><span class="o">::</span><span class="na">render</span><span class="p">(</span><span class="s1">'single.twig'</span><span class="p">,</span> <span class="nv">$context</span><span class="p">);</span>
<span class="cp">?&gt;</span>
</code></pre>

<h6 id="twig">Twig</h6>
<pre class="highlight plaintext"><code>{# single.twig #}
&lt;article&gt;
    &lt;h1 class="headline"&gt;{{post.title}}&lt;/h1&gt;
    &lt;div class="body"&gt;
        {{post.content}}
    &lt;/div&gt;
&lt;/article&gt;
</code></pre>

<h6 id="html">HTML</h6>
<pre class="highlight html"><code><span class="nt">&lt;article&gt;</span>
    <span class="nt">&lt;h1</span> <span class="na">class=</span><span class="s">"headline"</span><span class="nt">&gt;</span>The Empire Strikes Back<span class="nt">&lt;/h1&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"body"</span><span class="nt">&gt;</span>
        It is a dark time for the Rebellion. Although the Death Star has been destroyed, Imperial troops have driven the Rebel forces from their hidden base and pursued them across the galaxy.
    <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/article&gt;</span>
</code></pre>

<p><em>This class extends \TimberCore</em></p>

<p><em>This class implements \TimberCoreInterface</em></p>

      </div>
      <div class="dark-box">
      </div>
    </div>
  </body>
</html>
