<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>API Documentation</title>

    <link href="../stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="../stylesheets/print.css" rel="stylesheet" type="text/css" media="print" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.scrollto/2.1.0/jquery.scrollTo.min.js"></script>
      <script src="../javascripts/all_nosearch.js" type="text/javascript"></script>

  </head>

  <body class="includes includes_woocommerce">
    <a href="#" id="nav-button">
      <span>
        NAV
        <img src="../images/navbar.png" />
      </span>
    </a>
    <div class="tocify-wrapper">
      <div class="logo-wrapper">
        <img src="../images/timber-logo-icon.svg" />
      </div>
      <div id="toc">
      </div>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <h1 id="woocommerce">WooCommerce</h1>

<h3 id="point-of-entry-main-woocommerce-php-file">Point of entry - main WooCommerce PHP file</h3>

<p>The first step to get your WooCommerce project integrated with Timber is creating a file named <code class="prettyprint">woocommerce.php</code> in the root of your theme. That will establish the context and data to be passed to your twig files:</p>
<pre class="highlight php"><code>
if (!class_exists('Timber')){
    echo 'Timber not activated. Make sure you activate the plugin in <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"/wp-admin/plugins.php#timber"</span><span class="nt">&gt;</span>/wp-admin/plugins.php<span class="nt">&lt;/a&gt;</span>';
    return;
}

$context            = Timber::get_context();
$context['sidebar'] = Timber::get_widgets('shop-sidebar');

if (is_singular('product')) {

    $context['post']    = Timber::get_post();
    $product            = get_product( $context['post']-&gt;ID );
    $context['product'] = $product;

    Timber::render('views/woo/single-product.twig', $context);

} else {

    $posts = Timber::get_posts();
    $context['products'] = $posts;

    if ( is_product_category() ) {
        $queried_object = get_queried_object();
        $term_id = $queried_object-&gt;term_id;
        $context['category'] = get_term( $term_id, 'product_cat' );
        $context['title'] = single_term_title('', false);
    }

    Timber::render('views/woo/archive.twig', $context);

}
</code></pre>

<p>You will now need the two twig files loaded from <code class="prettyprint">woocommerce.php</code>:</p>

<h2 id="archives">Archives</h2>

<p>Create a Twig file accordingly to the location asked by the above file, in this example that would be <code class="prettyprint">views/woo/archive.twig</code>:</p>
<pre class="highlight plaintext"><code>{% extends "base.twig" %}

{% block content %}

    {% do action('woocommerce_before_main_content') %}

    &lt;div class="before-shop-loop"&gt;
        {% do action( 'woocommerce_before_shop_loop') %}
    &lt;/div&gt;

    &lt;div class="loop"&gt;
        {% for post in products %}

            {% include ["partials/tease-product.twig"] %}

        {% endfor %}
    &lt;/div&gt;

    {% do action('woocommerce_after_shop_loop') %}
    {% do action('woocommerce_after_main_content') %}

{% endblock  %}
</code></pre>

<p>You&rsquo;ll notice the inclusion of several woocommerce&rsquo;s default hooks, which you&rsquo;ll need to keep the integration seamless and allow any WooCommerce extension plugin to still work.</p>

<p>Next, we&rsquo;ll take care of the single product view.</p>

<h2 id="single-product">Single Product</h2>

<p>Create a Twig file accordingly to the location asked by the above file, in this example that would be <code class="prettyprint">views/woo/single-product.twig</code>:</p>
<pre class="highlight plaintext"><code>{% extends "base.twig" %}

{% block content %}

    {% do action('woocommerce_before_single_product') %}

    &lt;article itemscope itemtype="http://schema.org/Product" class="single-product-details {{post.class}}"&gt;

        &lt;div class="entry-images"&gt;
            {% do action('woocommerce_before_single_product_summary') %}
            &lt;img src="{{ post.thumbnail.src('shop_single') }}" /&gt;
        &lt;/div&gt;

        &lt;div class="summary entry-summary"&gt;
            {% do action('woocommerce_single_product_summary') %}
        &lt;/div&gt;

        {% do action('woocommerce_after_single_product_summary') %}

        &lt;meta itemprop="url" content="{{ post.link }}" /&gt;

    &lt;/article&gt;

    {% do action('woocommerce_after_single_product') %}

{% endblock  %}
</code></pre>

<p>Again we are keep things simple by using WooCommerce&rsquo;s default hooks.
If you need to override the output of any of those hooks, my advice would be to remove and add the relevant actions using PHP, keeping your upgrade path simple.</p>

<p>Finally, we&rsquo;ll need to create a teaser file for product in the loops. Considering the code above that  would be <code class="prettyprint">views/partials/tease-product.twig</code>:</p>

<h2 id="tease-product">Tease Product</h2>
<pre class="highlight plaintext"><code>
&lt;article {{ fn('post_class', ['$classes', 'entry'] ) }}&gt;

    {{ fn('timber_set_product', post)}}

    &lt;div class="Media"&gt;

        {% if showthumb %}
            &lt;div class="Media-figure {% if not post.thumbnail %}placeholder{% endif %}"&gt;
                &lt;a href="{{post.link}}"&gt;
                    {% if post.thumbnail %}
                        &lt;img src="{{ post.thumbnail.src|resize(post_thumb_size[0], post_thumb_size[1]) }}" /&gt;
                    {% else %}
                        &lt;span class="thumb-placeholder"&gt;&lt;i class="icon-camera"&gt;&lt;/i&gt;&lt;/span&gt;
                    {% endif %}
                &lt;/a&gt;
            &lt;/div&gt;
        {% endif %}

        &lt;div class="Media-content"&gt;
            {% do action('woocommerce_before_shop_loop_item_title') %}
            {% if post.title %}
                &lt;h3 class="entry-title"&gt;&lt;a href="{{post.link}}"&gt;{{ post.title }}&lt;/a&gt;&lt;/h3&gt;
            {% else %}
                &lt;h3 class="entry-title"&gt;&lt;a href="{{post.link}}"&gt;{{ fn('the_title') }}&lt;/a&gt;&lt;/h3&gt;
            {% endif %}
            {% do action( 'woocommerce_after_shop_loop_item_title' ) %}
            {% do action( 'woocommerce_after_shop_loop_item' ) %}
        &lt;/div&gt;

    &lt;/div&gt;

&lt;/article&gt;

</code></pre>

<p>This should all sound familiar by now, except for one line:
<code class="prettyprint">
{{ fn(&#39;timber_set_product&#39;, post)}}
</code></p>

<p>For some reason products in the loop don&rsquo;t get the right context by default. This line will call the following function that you need to add somewhere in your <code class="prettyprint">functions.php</code> file:</p>
<pre class="highlight php"><code>function timber_set_product( $post ) {
    global $product;
    if ( is_woocommerce() ) {
        $product = get_product($post-&gt;ID);
    }
}
</code></pre>

<p>Without this, some elements of the listed products would show the same information as the first product in the loop.</p>

<p><em>Note:</em> Some users reported issues with the loop context even when using the <code class="prettyprint">timber_set_product</code> helper function. Turns out the default WooCommerce hooks interfere with the output of the aforementioned function.</p>

<p>One way to get around this is by building your own image calls, that means removing WooCommerce&rsquo;s default hooks and declare on your template the html to show the image:</p>
<pre class="highlight plaintext"><code>{% if post.thumbnail %}
   &lt;img src="{{ post.thumbnail.src|resize(shop_thumbnail_image_size) }}" /&gt;
{% endif %}
</code></pre>

<p>To remove the default image, add the following to your <code class="prettyprint">functions.php</code> file:</p>
<pre class="highlight php"><code>remove_action('woocommerce_before_shop_loop_item_title', 'woocommerce_template_loop_product_thumbnail');
</code></pre>

<p>This comes with the added benefit that you&rsquo;ll have total control over where your image is created in the markup.</p>

      </div>
      <div class="dark-box">
      </div>
    </div>
  </body>
</html>
