---
layout: "redirect.njk"
pagination:
  data: redirects
  size: 1
  alias: redirect
permalink: "/{{ redirect.from }}/index.html"
redirects: [
  {
    "from": "/guides/escapers/",
    "to": "/guides/escaping/"
  },
  {
    "from": "/guides/unit-testing/",
    "to": "/guides/testing/"
  },
  {
    "from": "/guides/acf-cookbook/",
    "to": "/integrations/advanced-custom-fields/"
  }
]
---
