name: Timber Tests

on:
  push:
    branches:
      - '*'
  pull_request:
    types: [opened, synchronize, ready_for_review]

jobs:
  phpunit:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mariadb:latest
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_ROOT_PASSWORD:
          MYSQL_DATABASE: wordpress_test
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    strategy:
      fail-fast: false
      matrix:
        php: ['7.4', '7.3', '7.2', '7.1', '7.0']
        wp: ['4.9.8', 'latest']
        multisite: ['0', '1']
        dependency-version: [prefer-lowest, prefer-stable]
        include:
          - php: '5.6'
            wp: '4.9.8'
            multisite: '0'
            dependency-version: 'prefer-lowest'

    name: PHP ${{ matrix.php }} | WP ${{ matrix.wp }}${{ matrix.multisite == 1 && ' (MS)' || '' }}. | {{ matrix.dependency-version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none  # XDebug can be enabled here 'coverage: xdebug'
          tools: composer:v1

      - name: Shutdown default MySQL service
        run: sudo service mysql stop

      - name: Verify MariaDB connection
        run: |
          while ! mysqladmin ping -h"127.0.0.1" -P"${{ job.services.mysql.ports[3306] }}" --silent; do
            sleep 1
          done

      - name: Get composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache composer dependencies
        uses: actions/cache@v2
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install composer dependencies
        run: composer install --${{ matrix.dependency-version }} --prefer-dist --ignore-platform-reqs --no-progress --no-interaction

      - name: Install tests
        run: bash bin/install-wp-tests.sh wordpress_test root '' 127.0.0.1:${{ job.services.mysql.ports['3306'] }} ${{ matrix.wp }} true

      - name: Run tests
        run: composer run test-unit
        env:
          WP_MULTISITE: ${{ matrix.multisite }}
